<section class="min-height">
  <div class="animated fadeIn delay-2s">
    <h1 class="mb4">Latest Videos</h1>

    <section class="col-12">
      <subscribe-blog></subscribe-blog>

      <ul class="listOfBlogs">
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Factor 5 Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/Vhr-u_q2zz0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Great Balls of Fire Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/DpM1evKKT6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Power Packed Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/D9sPqWnWkXE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Total Body Tabata Circuit Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/gs2vTEMSczU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Upstairs Downstairs Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/ufnkMVtO6DI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Whole Body Dumbell Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/C1ScwFt7fVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Cardio Ab Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/uxNaQE4JyE4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Boxing Round Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/XTUGYuZZ90w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
        <li class="article">
          <article class="blog-content no-images full-width">
            <h3 class="title">Bum, Legs and Tums Workout</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/TrVnvMsK9_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </article>
        </li>
      </ul>
    </section>
  </div>
</section>
