@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  .subscribe-wrapper {
    @extend .col-12, .mb3;
    background-color: $grey-color-5;

    .subscribe-content {
      padding: 15px;
    }

    h3, p {
      @extend.mb1;

      &.success {
        @extend .pt2, .pb2;
      }
    }

    p {
      @extend .mb2;
      font-size: 15px;
    }

    form {
      @extend .flex, .col-8, .justify-between;
      margin-top: 5px;

      @media screen and (max-width: $break-md) {
        margin-top: 10px;
        padding: 0;
        flex-direction: column;
        width: 100%;
      }

      input {
        @extend .col-9, .mr2;

        @media screen and (max-width: $break-md) {
          margin-bottom: 10px;
          margin-right: 0;
          width: 100%;
        }
      }

      .btn {
        @extend .col-3;

        @media screen and (max-width: $break-md) {
          width: 100%;
        }
      }
    }
  }
}
