<section class="subscribe-wrapper animated fadeIn delay-4s">
  <div class="subscribe-content">
    <h3>Subscribe to our blog & newsletter</h3>
    <p>We will notify you of all the recent news and articles in the leisure industry.</p>
    <form *ngIf="!isSuccessVisible" [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="email" placeholder="Email*" formControlName="email" class="field">
      <button type="submit" class="btn btn-primary animated pulse" prevent-double-submit>Subscribe</button>
    </form>
    <p class="success secondary" *ngIf="isSuccessVisible">Thank you for subscribing</p>
  </div>
</section>

