<h4 class="mb3">Payment Successful</h4>

<p>Thank you for your service.</p>
<p>We've sent you a receipt for your purchase.</p>
<p>Please click <strong>Create a Job</strong> to use your credit.</p>

<i class="fas fa-thumbs-up"></i>
