<h1 class="center mb3">Contact Us</h1>

<p class="error mt2" *ngIf="error">{{ error }}</p>
<p class="mt2 secondary" *ngIf="success">Thank you, we will be in touch within 24 hours</p>

<form class="col-12" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Name*" formControlName="name" class="col-12 mb1 field">

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="name" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Name is required</div>
  </div>

  <input type="email" placeholder="Email*" formControlName="email" class="col-12 mb1 field">

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="email" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="email" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="pattern" when="dirty">Must be of type email</div>
  </div>

  <textarea type="text" placeholder="Enquiry*" formControlName="enquiry" class="col-12 mb2 field field-area"></textarea>

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="enquiry" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Enquiry is required</div>
  </div>

  <button type="submit" class="btn btn-primary col-12 animated pulse" prevent-double-submit>Send</button>
</form>

<a [routerLink]="['/signin']" title="Sign In">Sign In</a>
