<h1 class="center mb3">Forgot your password?</h1>

<p class="error mt2" *ngIf="error">{{ error }}</p>
<p class="success mt2" *ngIf="success">{{ success }}</p>

<form class="col-12" [formGroup]="form" autocomplete="false" (ngSubmit)="onSubmit()">
  <input type="email" placeholder="Email*" formControlName="email" class="col-12 mb2 field">

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="email" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="email" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="pattern" when="dirty">Must be of type email</div>
  </div>

  <button type="submit" class="btn btn-primary col-12 animated pulse" prevent-double-submit>Reset</button>
</form>

<a [routerLink]="['/signin']" title="Sign In">Sign In</a>
