<section class="min-height">
  <div class="animated fadeIn delay-2s">
    <h1 class="white mb1">Welcome to Behired volunteering</h1>
    <h3 class="secondary mb2">Coming Soon...</h3>
  </div>
</section>
