@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

.wrapper, .jobs-wrapper {
  @extend .flex, .justify-center;
}

.content {
  @extend .flex, .flex-column, .col-12;
}

.jobs {
  @extend .col-12;

  h3 {
    @extend .mt1, .mb2, .ml2, .mr2;
  }

  p {
    @extend .p0, .mb0;
  }
}

.no-data {
  @extend .col-12, .flex, .justify-center, .flex-column;
  text-align: center;
  margin-top:100px;

  a {
    font-weight: bold;
  }
}

.load-all {
  @extend .col-12, .flex, .justify-center, .flex-column;
  text-align: center;
  margin-top: 100px;

  i, span {
    font-size: 16px;
  }
}

.loading-jobs {
  @extend .col-12, .flex, .justify-center, .flex-column, .fixed;
  text-align: center;
  z-index: 999;
  top: 50%;
  left: 5.7%;

  @media only screen and (max-width: $break-md) {
    left: 0;
  }
}

.adverts {
  @extend .ml3;
  width: 250px;

  @media only screen and (max-width: $break-md) {
    display: none;
  }

  a {
    @extend .col-12;

    &.swim-buddies {
      background: url($advert-swim-buddies) no-repeat;
      background-size: 100%;
      display: block;
      height: 100%;
    }
  }
}

.filter {
  @extend .col-2, .mt0, .pb2, .mb2;

  @media only screen and (max-width: $break-md) {
    background: $white-color;
    left: 0;
    top: 0;
    position: fixed;
    width: 90%;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    height: 100%;
    overflow-x: scroll;
  }

  h3 {
    @extend .ml0, .mt0;
  }

  hr {
    @extend .col-10, .m0, .mt2, .mb2;
  }

  .sorting-links {
    @extend .mb2;

    h4 {
      @extend .mb1;
    }

    a {
      @extend .flex, .mt1;

      i {
        margin-top: 3px;
      }
    }
  }

  .btn-wrapper {
    @extend .col-12, .justify-between, .mt3;
    display: none;

    @media only screen and (max-width: $break-md) {
      display: flex;
      margin-bottom: 50px;
    }
  }

  i {
    font-size: 14px;

    &.fa-circle {
      font-size: 12px;
      color: $primary-color;
    }
  }

  ul {
    @extend .flex, .flex-column;
  }

  .selected {
    content:'\2713';
    font-weight: 700;
  }
}

.filter-close {
  float: right;

  .fa-times {
    font-size: 18px;
  }
}

.filter-link,
.filter-total,
.filter-close {
  display: none;

  @media only screen and (max-width: $break-md) {
    display: block;
  }
}

.search {
  @extend .col-12, .mb2;

  .search-wrapper {
    @extend .flex, .justify-between, .col-12;

    @media only screen and (max-width: $break-sm) {
      flex-direction: column;
    }
  }

  .field {
    @extend .mt2, .mb1, .mr1;

    @media only screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  .fa-times {
    color: $primary-color;
    font-size: 14px;
  }

  .btn {
    @extend .mt2, .mb2;
    width: 200px;

    @media only screen and (max-width: $break-sm) {
      width: 100%;
    }
  }
}

.scroll-top {
  @extend .flex, .fixed, .justify-center;
  background-color: $secondary-color;
  bottom: 20px;
  color: $white-color;
  font-size: 30px;
  right: 15px;
  z-index: 999;
  border-radius: 100px;
  width: 50px;
  text-align: center;
  height: 50px;
  align-items: center;
  padding: 2px;
}
