<ol class="hide" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="https://behired.co.uk">
        <span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  ›
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="https://behired.co.uk/job-board">
      <span itemprop="name">Job Board</span></a>
    <meta itemprop="position" content="2" />
  </li>
</ol>

<section class="min-height wrapper">
  <div class="content">
    <div class="search">

        <div class="flex justify-between">
        <a class="filter-link" (click)="isFiltersVisible = true"><strong>Filters <i class="fas fa-filter ml1"></i></strong></a>
        </div>

        <form class="search-wrapper" [formGroup]="form" autocomplete="false" (ngSubmit)="search(true)" *ngIf="!isViewSavedJobs">
          <input id="SearchTerm" type="text" placeholder="Job title or keyword" formControlName="term" class="field col-5">

          <input *ngIf="isGoogleReady" class="field col-3" type="text" placeholder="e.g. London"
            ngx-google-places-autocomplete [options]='options'
            (onAddressChange)="handleAddressChange($event)" formControlName="postCodeDisplay">

          <select class="field col-2" formControlName="radius">
            <option [value]="null" disabled="true">Radius miles</option>
            <option [value]="radius" *ngFor="let radius of searchOptions.radius">{{ radius }} miles</option>
          </select>

          <button type="submit" class="btn btn-primary" prevent-double-submit>Search</button>
        </form>

        <div class="flex justify-end mb2">
          <p class="m0" *ngFor="let filter of selectedFilterTypes | keyvalue">
            <i *ngIf="filter.value.length > 0" class="mr2">{{ filter.value }}</i>
          </p>
          <a class="ml2" (click)="reset()"><strong>Reset Search<i class="fas fa-times ml1"></i></strong></a>
        </div>
    </div>

    <div class="jobs-wrapper">
      <div class="filter" *ngIf="isFiltersVisible">
        <a class="filter-close" (click)="isFiltersVisible = false"><i class="fas fa-times"></i></a>

        <h3 class="mt2 mb2"><i class="fas fa-filter"></i> Filters</h3>

        <h4 class="secondary mt1 mb1">Saved Jobs:</h4>
        <a class="clickable" (click)="getSavedJobs()">
          <span *ngIf="!isViewSavedJobs">View Saved Jobs</span>
          <span *ngIf="isViewSavedJobs">View All Jobs</span>
        </a>
        <hr>

        <div *ngIf="!isViewSavedJobs">
          <h4 class="secondary mt1 mb1">Titles:</h4>
          <ul>
            <li *ngFor="let sector of searchOptions.sectors">
              <a class="clickable" title="{{ sector }}"
              [ngClass]="{ 'selected': selectedFilterTypes.sectors === sector }"
              (click)="searchByFilter(sector, 'sectors')">
                <i *ngIf="selectedFilterTypes.sectors === sector" class="fas fa-circle mr1"></i>
                <i *ngIf="selectedFilterTypes.sectors !== sector" class="far fa-circle mr1"></i>
                {{ sector }}
              </a>
            </li>
          </ul>
          <hr>
          <h4 class="secondary mt1 mb1">Pay Types:</h4>
          <ul>
            <li *ngFor="let payType of searchOptions.payTypes">
              <a class="clickable" title="{{ payType }}"
              [ngClass]="{ 'selected': selectedFilterTypes.payTypes === payType }"
              (click)="searchByFilter(payType, 'payTypes')">
                <i *ngIf="selectedFilterTypes.payTypes === payType" class="fas fa-circle mr1"></i>
                <i *ngIf="selectedFilterTypes.payTypes !== payType" class="far fa-circle mr1"></i>
                {{ payType }}
              </a>
            </li>
          </ul>
        </div>

        <div class="btn-wrapper">
          <a title="Apply Filters" class="btn btn-primary col-5 mr2" (click)="isFiltersVisible = false">Apply Filters</a>
          <a title="Reset Filters" class="btn btn-secondary col-5" (click)="isFiltersVisible = false;reset()">Reset Filters</a>
        </div>
      </div>

      <div class="jobs">
        <ul class="grid">

          <!-- Featured Jobs -->
          <!-- <ng-container *ngFor="let job of listOfJobs">
            <li class="featured mb3"
              *ngIf="job.isFeaturedJobSelected && (selectedFilterTypes.sectors === job.sector || selectedFilterTypes.sectors.length === 0) && !isViewSavedJobs && job.isActive !== false"
              [ngClass]="{ 'isExpand': job.isExpand }">
              <job-behired-card [job]="job"></job-behired-card>
            </li>
          </ng-container> -->

          <!-- All Jobs -->
          <ng-container *ngFor="let job of listOfJobs; let i = index">
            <li class="mb3"
              *ngIf="!isViewSavedJobs && job.isActive !== false"
              [ngClass]="{ 'isExpand': job.isExpand, 'new': job.jobType === 'behired' && i < 4 }">

              <job-behired-card *ngIf="job.jobType === 'behired'" [job]="job" [index]="i"></job-behired-card>
              <job-adzuna-card *ngIf="job.jobType === 'adzuna'" [job]="job"></job-adzuna-card>
            </li>
          </ng-container>

          <!-- Saved Jobs -->
          <ng-container *ngFor="let job of listOfSavedJobs; let i = index">
            <li class="new mb3"
              *ngIf="isViewSavedJobs"
              [ngClass]="{ 'isExpand': job.isExpand, 'new': job.jobType === 'behired' && i < 4 }">

              <job-behired-card [job]="job" [isSaved]="true" [index]="i"></job-behired-card>

            </li>
          </ng-container>
        </ul>

        <ng-container *ngIf="!isJobsLoaded">
          <div class="loading-jobs">
            <img class="loading-img" title="Loading..." src="./assets/icons/loading.svg">
          </div>
        </ng-container>

        <ng-container *ngIf="listOfJobs.length === 0 && isJobsLoaded">
          <div class="no-data">
            <p>
              Unfortunately no results
            </p>
            <a (click)="reset()" title="Reset Search">Reset Search?</a>
          </div>
        </ng-container>

        <a *ngIf="isLoadMoreVisible && isJobsLoaded" class="load-all animated fadeIn" title="Load More" (click)="loadMoreJobs()">
          <span>Load More</span>
          <i class="fas fa-angle-double-down mt1"></i>
        </a>
      </div>

      <div class="adverts">
        <a class="swim-buddies" title="Swim Buddies" href="http://www.swimbuddies.co.uk/" target="_blank"></a>
      </div>
    </div>
  </div>

  <a *ngIf="isScrollTopVisible" class="scroll-top" (click)="scrollTop()" title="Scroll Top">
    <i class="fas fa-chevron-up"></i>
  </a>
</section>
