<section class="notification notification--top absolute col-3 animated slideInDown delay-2s mt4">
  <div class="notification__banner">
    <h3 class="white mb1">Job Status</h3>
    <p class="m0">Unfortunately, this job is no longer available and has now been filled.</p>
  </div>
</section>
