<h1 class="mb3">Cookie Policy</h1>
<p>
  We believe in being clear and open about how we collect and use data related to you. In the spirit of transparency, this policy provides detailed information about how and when we use cookies. This cookie policy applies to any product or service that links to this policy or incorporates it by reference.
</p>
<h3 class="secondary mb1">Do we use cookies?</h3>
<p>
  Yes. As described in Section 1.3 of our <a [routerLink]="['/privacy']" title="Privacy Policy"> Privacy Policy</a>, we use cookies and other technologies to ensure everyone who uses the Platform has the best possible experience. Cookies also help us keep your account safe. By continuing to visit or use our services, you are agreeing to the use of cookies and similar technologies for the purposes we describe in this policy.
</p>
<h3 class="secondary mb1">What is a cookie?</h3>
<p>A cookie is a small file placed onto your device that enables Platform features and functionality. For example, cookies enable us to identify your device, secure your access to the Platform.</p>
<h3 class="secondary mb1">When does BeHired place cookies?</h3>
<p>Any browser visiting the Platform will receive cookies from us once a user has agreed to the Cookie Policy popup on the BeHired homepage. Should the user not accept the Cookie Policy agreement then no cookies will be downloaded to the User.</p>
<h3 class="secondary mb1">What types of cookies does BeHired use?</h3>
<p>We use two types: persistent cookies and session cookies. A persistent cookie helps us recognise you as an existing user, so it's easier to return to the Platform or interact with our services without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by the Platform when you return our site. Session cookies only last for as long as the session (usually the current visit to a website or a browser session).</p>
<h3 class="secondary mb1">Which legal entity is using cookies?</h3>
<p>
  Ingham Leisure Limited will be the controller of your personal data provided to, or collected by or for, our Services.
</p>
<h3 class="secondary mb1">What are cookies used for?</h3>
<p>Cookies can be used to recognise you when you visit BeHired, remember your preferences, and give you a personalised experience that's in line with your settings. Cookies also make your interactions with BeHired faster and more secure.</p>
<table>
  <tbody><tr>
    <th>
      Categories of Use
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr>
    <td>
      Authentication
    </td>
    <td>
      We use cookies to enable and support our security features, and to help us detect malicious activity and violations of our Terms of Use.
    </td>
  </tr>
  <tr>
    <td>
      Performance, Analytics and Research
    </td>
    <td>
      Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand, improve, and research products, features, and services, including when you access BeHired from other websites, applications, or devices such as your work computer or your mobile device.
    </td>
  </tr>
</tbody></table>
<h3 class="secondary mb1">What third-party cookies does BeHired use?</h3>
<p>Please note that companies and other organisations that sponsor pages on BeHired may use cookies, pixels or other technologies on the Platform pages to learn about your interest in them. Please note that the names of third-party cookies, pixels and other technologies may change over time. Other third-party applications we use include Mouseflow, Sendgrid, Stripe, Twitter, Facebook, Gmail, Google Analytics, Cloudflare, LinkedIn and Firebase.
</p>
<h3 class="secondary mb1">Controlling cookies</h3>
<p>Most browsers allow you to control cookies through their settings preferences. However, if you limit the ability of websites to set cookies, you may worsen your overall user experience, since it will no longer be personalised to you. It may also stop you from saving customised settings like login information.
</p>
<h3 class="secondary mb1">What to do if you don't want cookies to be set or want them to be removed?</h3>
<p>f you do not want to receive cookies, you can change your browser settings on your computer or other device you're using to access our Services. If you use BeHired without changing your browser settings, we'll assume that you're happy to receive all cookies on BeHired website. Most browsers also provide functionality that lets you review and erase cookies, including BeHired cookies. Please note that BeHired site will not work properly without cookies. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit <a href="http://www.wikipedia.org" target="_blank" title="wikipedia.org">wikipedia.org</a>,<a href="http://www.allaboutcookies.org" target="_blank" title="All About Cookies Homepage">www.allaboutcookies.org</a>, or <a href="http://www.aboutcookies.org" target="_blank" title="About Cookies Homepage">www.aboutcookies.org</a>.
</p>
<h3 class="secondary mb1">Other helpful resources</h3>
<p>To learn more about advertisers' use of cookies the following links are helpful:</p>
<ul class="stack bullet">
<li><p><a href="http://www.youronlinechoices.eu/" target="_blank" title="European Interactive Digital Advertising Alliance (EU)">European Interactive Digital Advertising Alliance (EU)</a></p></li>
<li><p><a href="http://www.iabeurope.eu/" target="_blank" title="Internet Advertising Bureau">Internet Advertising Bureau (EU)</a></p></li>
<li><p><a href="https://eugdpr.org/" target="_blank" title="European General Data Protection Regulator">General Data Protection Regulator (EU)</a></p></li>
</ul>
<p>
Browser manufacturers provide help pages relating to cookie management in their products. Please see below for more information.
</p>
<ul class="stack bullet">
<li><p><a href="https://support.google.com/chrome/answer/95647?hl=en-GB" target="_blank" title="Google Chrome Cookies">Google Chrome Cookies</a></p></li>
<li><p><a href="https://support.microsoft.com/en-us/kb/260971" target="_blank" title="Internet Explorer Cookies">Internet Explorer Cookies</a></p></li>
<li><p><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" target="_blank" title="Mozilla Firefox Cookies">Mozilla Firefox Cookies</a></p></li>
</ul>
<p>
For other browsers, please consult the documentation that your browser manufacturer provides.
</p>
<ul class="stack bullet">
<li><p><a href="https://support.apple.com/kb/PH5042?locale=en_US" target="_blank" title="Safari Desktop Cookies">Safari Cookies (Desktop)</a></p></li>
<li><p><a href="https://support.apple.com/en-us/HT201265" target="_blank" title="Safari Mobile Cookies">Safari Cookies (Mobile)</a></p></li>
<li><p><a href="http://support.google.com/ics/nexus/bin/answer.py?hl=en&answer=2425067" target="_blank" title="Android Cookies">Android Cookies</a></p></li>
</ul>
<h3 class="secondary mb1">Contact Us</h3>
<p>
To contact us please email <a [routerLink]="['/contact']" title="info@behired.co.uk">info@behired.co.uk</a>
</p>
