<section class="flex col-12">
  <section class="col-9">
    <h2>Settings</h2>

    <div *ngIf="!isApplicant && !isFreeTier" class="mt3 mb4">
      <h3 class="mb2">Need more credit?</h3>
      <p>
        Click buy to be taken to purchase more credits. To create a job you need at least one credit, which cost only £99.
      </p>
      <a title="Buy" [routerLink]="['/payment']" class="btn btn-primary mt2 pl4 pr4">Buy</a>
    </div>

    <div *ngIf="!isApplicant && !isFreeTier" class="mt3 mb4">
      <h3 class="mb2">Pricing</h3>
      <p>
        Visit our pricing page for more information on our pay as you go and enterprise pricing models.
      </p>
      <a title="pricing" [routerLink]="['/pricing']" target="_blank" class="btn btn-primary mt2 pl4 pr4">Pricing</a>
    </div>

    <div class="mt3 mb4">
        <h3 class="mb2">Password Reset</h3>
        <p>
          You can change your password by visiting "Password Reset".
        </p>
        <a title="pricing" [routerLink]="['/password-reset']" class="btn btn-secondary mt2 pl4 pr4">Password Reset</a>
      </div>

    <div class="mt3">
      <h3 class="mb2">Danger Zone</h3>
      <p>
        Once you delete your account all your personal data will be removed from our Behired Firebase Database.<br>
        This means you will need to sign up again in the future.
      </p>
      <a title="Delete Account" class="btn btn-quaternary mt2 pl4 pr4" (click)="deleteConfirmIsVisible = true">Delete Account</a>
    </div>
  </section>
  <section class="col-3 tip-column">
    <div class="box box_medium">
      <h2 class="mb2">Tips</h2>
      <p *ngIf="!isApplicant && !isFreeTier">
        Settings allows you to buy more credit or delete your account.
      </p>
      <p *ngIf="!isApplicant">
        Deleting your account means all your job posts will be removed and your personal information.
      </p>
      <p *ngIf="!isApplicant">
        If your account is deleted you will need to sign up again to create jobs.
      </p>
      <p *ngIf="isApplicant">
        If your account is deleted you will need to sign up again to apply for jobs.
      </p>
    </div>
    <div *ngIf="!isApplicant && !isFreeTier" class="box box_medium" [routerLink]="['/payment']">
      <div class="advert animated pulse delay-4s"></div>
    </div>
  </section>
</section>

<confirm-notification
  *ngIf="deleteConfirmIsVisible"
  (confirm)="delete()"
  (cancel)="cancelDelete()"
  [message]="message"></confirm-notification>
