@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

$featured: '../../../assets/adverts/featured3.jpg';

:host {
  .tip-column {
    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }

  .box {
    @extend .flex, .flex-column, .mb2, .col-12;

    &__medium {
      min-height: 150px;
    }
  }

  .advert {
    background: url($featured) no-repeat;
    background-size: 100%;
    min-height: 500px;

    &:hover {
      cursor: pointer;
    }
  }
}
