<section class="confirm-wrapper animated bounce delay-4s">
  <div class="confirm-content">
    <div>
      <h3 class="mb3">Add a Review Comment</h3>
      <p>
        It only takes a minute! And your anonymous review will help many people.
      </p>

      <form class="col-12" [formGroup]="form">
        <div class="ratings small">
          <p>Rating</p>

          <div class="rating">
            <ng-container *ngFor="let item of score.service">
              <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item)">☆</span>
            </ng-container>
          </div>
        </div>

        <input type="text" placeholder="Title" formControlName="title" class="col-12 mb1 field">

        <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="title" #myError="ngxErrors">
          <div class="animated shake" ngxError="required">Please enter a review title</div>
          <div class="animated shake" [ngxError]="['minlength', 'maxlength']">Min length is 10 and max length is 100</div>
        </div>

        <textarea class="col-12 field field-area" placeholder="Please enter your review..." formControlName="review"></textarea>

        <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="review" #myError="ngxErrors">
          <div class="animated shake" ngxError="required">Please enter a review</div>
          <div class="animated shake" [ngxError]="['minlength', 'maxlength']">Min length is 10 and max length is 300</div>
        </div>
      </form>

      <div class="btn-wrapper mt4">
        <a class="btn btn-secondary pl4 pr4 mr2" (click)="confirmAction()" title="Yes" prevent-double-submit>Add Review</a>
        <a class="btn btn-primary pl3 pr3" (click)="cancelAction()" title="Cancel" prevent-double-submit>Cancel</a>
      </div>
    </div>
  </div>
</section>
