@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  @extend .flex, .fixed, .justify-center, .col-12;
  top: 0;
  left: 0;
  align-items: center;
  height: 100%;
  z-index: 999;

  .confirm-wrapper {
    @extend .col-4, .p3;
    margin-top: -100px;
    background-color: $white-color;
    border-radius: 5px;
    box-shadow: -1px 0px 2px 2px $grey-color-1;

    @media screen and (max-width: $break-sm) {
      border-radius: 0;
      margin-top: 10px;
      width: 100%;
    }

    h3 {
      font-size: 28px;

      @media screen and (max-width: $break-sm) {
        font-size: 22px;
      }
    }

    p {
      font-size: 16px;
    }
  }

  .ratings {
    @extend .flex;

    p {
      margin: 5px 5px 10px 0;
      width: 130px;
    }

    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      width: 121px;
    }

    .rating > span {
      display: inline-block;
      position: relative;
      width: 1.1em;
      font-size: 22px;
      cursor: pointer;
    }

    .rating span:hover:before,
    .rating span:hover ~ span:before {
       content: "\2605";
       position: absolute;
    }

    .rating span.selected:before,
    .rating span.selected ~ span:before {
      content: "\2605";
      position: absolute;
    }
  }

  .btn-wrapper {
    @extend .flex, .justify-end, .col-12;
  }
}
