@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  mat-form-field {
    width: 100%;
  }

  .mat-chip {
    margin-left: 15px;
    color: $white-color;
    background-color: $primary-color;
    font-weight: 300;
    border-radius: 3px;
    width: auto;
  }

  .mat-chip-list-wrapper,
  .form-chip-list {
    padding: 50px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
    padding: 10px 0 10px 0;
    background-color: $white-color;
    min-height: 32px;
    margin: 10px 0;
    margin-bottom: 50px;
    width: 100%;

    input {
      border-radius: 3px;
      height: 34px;
      text-indent: 15px;
      font-weight: 400;
      margin: 5px 15px 0;
      border: 1px dotted rgba(0,0,0,.125);
    }
  }

  .mat-chip-input {
    width: auto;
    margin: 4px;
    flex: 0;
  }

  mat-icon {
    color: $white-color !important;
    opacity: 1 !important;

    .fa-times {
      margin-top: 3px;
      color: $white-color;
    }
  }
}
