<mat-form-field class="form-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of tags"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(tag)">
        {{tag.name}}
        <mat-icon matChipRemove *ngIf="removable">
          <i class="fas fa-times"></i>
        </mat-icon>
    </mat-chip>

    <input placeholder=""
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
