@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

.wrapper, .jobs-wrapper {
  @extend .flex, .justify-center;
}

.content {
  @extend .flex, .flex-column, .col-12;
}

.company-info {
  @extend .col-12, .mb4;

  img {
    width: 120px;
  }

  h3 {
    @extend .mt2, .mb1;
  }

  p {
    @extend .m0;
  }
}

.nav-wrapper {
  @extend .flex, .justify-between;

  @media screen and (max-width: $break-md) {
    flex-direction: column;
  }

  .share-buttons {
    @extend .flex, .justify-end;
    width: 160px;

    @media screen and (max-width: $break-md) {
      justify-content: flex-start;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    a {
      @extend .mr1;
    }

    img {
      width: 34px;
    }
  }
}

.jobs {
  @extend .col-12;
}

.grid li {
  min-height: 330px;
}
