<section class="min-height wrapper">
  <div class="content">

    <div class="nav-wrapper">
      <a class="back-link secondary mb1" title="Back" [routerLink]="['/job-board']"><i class="fas fa-chevron-left mr1"></i>
        Back</a>

      <div *ngIf="companyInfo !== null" class="share-buttons">
        <a target="_blank" title="Share on Facebook"
          href="http://www.facebook.com/sharer.php?u=https://behired.co.uk/jobs/{{ employerId }}">
          <img alt="Facebook" src="https://simplesharebuttons.com/images/somacro/facebook.png">
        </a>
        <a target="_blank" title="Share on Twitter"
          href="https://twitter.com/share?url=https://behired.co.uk/jobs/{{ employerId }}">
          <img alt="Twitter" src="https://simplesharebuttons.com/images/somacro/twitter.png">
        </a>
        <a title="Share with Email"
          href="mailto:?Subject={{ companyInfo.employerName }} https://behired.co.uk/jobs/{{ employerId }}">
          <img alt="Email" src="https://simplesharebuttons.com/images/somacro/email.png">
        </a>
      </div>
    </div>

    <div *ngIf="companyInfo !== null" class="company-info">
      <img *ngIf="companyInfo.logo" [src]="companyInfo.logo" alt="Logo">

      <h3>{{ companyInfo.employerName }}</h3>
      <p>Welcome to the <strong>{{ companyInfo.employerName }}</strong> live job board.</p>
      <p>Keep updated with the latest jobs from our company.</p>
      <p>{{ companyInfo.about }}</p>
    </div>

    <div class="jobs">
      <ul class="grid">
        <ng-container *ngFor="let job of listOfJobs; let i = index">
          <li class="mb3" *ngIf="job.isActive !== false">
            <job-card *ngIf="job.jobType === 'behired'" [job]="job" [index]="i"></job-card>
          </li>
        </ng-container>
      </ul>
    </div>

  </div>
</section>
