<ng-container *ngIf="mode === 'resetPassword'">
  <h1 class="center mb3">Reset your password</h1>

  <p class="error mt2" *ngIf="error">{{ error }}</p>

  <form class="sm-col-12" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="false">
    <div>
      <input [type]="passwordType" formControlName="password" placeholder="Password*" class="col-12 mb1 field">

      <a class="eye-toggle" (click)="togglePasswordEye()">
        <i class="fa fa-eye-slash" *ngIf="passwordType === 'text'"></i>
        <i class="fa fa-eye" *ngIf="passwordType === 'password'"></i>
      </a>
    </div>

    <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="password" #myError="ngxErrors">
      <div class="animated shake" ngxError="required" when="dirty">Password is required</div>
      <div class="animated shake" [ngxError]="['minlength', 'maxlength']" when="dirty">
        Min length is 8 and max length is 15</div>
      <div class="animated shake" ngxError="pattern" when="dirty">
        Must contain at least 1 lowercase character & 1 number
      </div>
    </div>

    <input [type]="passwordType" placeholder="Confirm Password*" formControlName="confirmPassword" autocomplete="new-password" class="block col-12 mb2 field">

    <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="confirmPassword" #myError="ngxErrors">
      <div class="animated shake" ngxError="required" when="dirty">Confirm Password is required</div>
      <div class="animated shake" [ngxError]="['minlength', 'maxlength']" when="dirty">Min length is 8 and max length is 15</div>
      <div class="animated shake" ngxError="pattern" when="dirty">
        Must contain at least 1 lowercase character & 1 number
      </div>
    </div>

    <button type="submit" class="btn btn-primary col-12 animated pulse" prevent-double-submit>Reset</button>
  </form>

  <a [routerLink]="['/signin']" title="Sign In">Sign In</a>
</ng-container>
