<section>
  <p><strong>Profile Completion</strong><span>{{ progress }}</span></p>
  <div class="progress-wrapper">
    <div class="progress" [ngStyle]="{ 'width': progress }"></div>
  </div>
</section>
