@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  .progress-wrapper {
    @extend .relative, .col-12;
    height: 20px;
    background-color: $grey-color-1;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  .progress {
    width: 0;
    height: 20px;
    position: absolute;
    border-radius: 3px;
    background: linear-gradient(to right, $grey-color-1, $primary-color 70%);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    -ms-transition: all 3s ease;
    transition: all 3s ease;
  }

  p {
    @extend .flex, .justify-between, .m0;
    font-size: 14px;

    span {
      font-size: 14px;
    }
  }
}
