<h1 class="mb3">Privacy Policy</h1>
<p>
  BeHired is a service provided by Ingham Leisure Ltd (“We”, the “Company”) of 46 Richmond Road, Solihull, West Midlands, B92 7RP, United Kingdom. This Privacy Policy provides our policies and procedures for collecting, using, and disclosing your information. Users can access BeHired service (the "Service") through our website https://www.BeHired.co.uk. A "Device" is any computer used to access the Service, including without limitation a desktop, laptop, mobile phone, tablet, or other consumer electronic device. This Privacy Policy governs your access to the Service, regardless of how you access it, and by using our Services you consent to the collection, transfer, processing, storage, disclosure and other uses described in this Privacy Policy. All of the different forms of data, content, and information described below are collectively referred to as "information".
</p>
<h3 class="secondary mb1">1. Information we collect</h3>
<p><strong>1.1 Information You Provide</strong></p>
<p>
  When you register an account, we collect some personal information, such as your name, email address, phone number, home postal addresses. If you are posting a new job then we will also collect information from that request. You may also provide us with your contacts' email addresses when sharing requests with them. Ingham Lesiure Limited comply with the data protection act (1998) and uphold codes of practice issued by the Information Commissioner’s Office (ICO) as a fully registered member of the ICO.
</p>
<p><strong>1.2 Log Data</strong></p>
<p>
When you use the Service, we automatically record information from your Device, its software, and your activity using the Services. This may include the Device’s Internet Protocol ("IP") address, browser type, the web page visited before you came to our website, information you search for on our website, locale preferences, identification numbers associated with your Devices, your mobile carrier, date and time stamps associated with transactions, and other interactions with the Service.</p>
<p><strong>1.3 Cookies</strong></p>
<p>As described in our <a [routerLink]="['/cookie']" title="BeHired Cookie Policy">Cookie Policy</a>, We use "cookies" to collect information and improve our Services. A cookie is a small data file that we transfer to your Device. We may use "persistent cookies" to save your registration ID and login password for future logins to the Service. We may use “session ID cookies” to enable certain features of the Service, to better understand how you interact with the Service and to monitor aggregate usage and web traffic routing on the Service. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all aspects of the Service. By visiting our Services, you consent to the placement of cookies and beacons in your browser and HTML-based emails in accordance with this Privacy Policy, which incorporates by reference our Cookie Policy.</p>
<h3 class="secondary mb1">2. Using your information</h3>
<p><strong>2.1 Personal Information</strong></p>
<p>
  In the course of using the Service, we may collect personal information that can be used to contact or identify you ("Personal Information"). Personal Information is or may be used: (i) to provide and improve our Service, (ii) to administer your use of the Service, (iii) to better understand your needs and interests, (iv) to personalise and improve your experience, and (v) to provide updates and product announcements. We will retain your information for as long as your account is active or as needed to provide you services. We may retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. Consistent with these requirements, we will try to delete your information quickly upon request. Please note, however, that there might be latency in deleting information from our servers and backed-up versions might exist after deletion. We will display your Personal Information in your profile page and elsewhere on the Service according to the preferences you set in your account. Any information you choose to provide should reflect how much you want others to know about you. Please consider carefully what information you disclose in your profile page and your desired level of anonymity. You can review and revise your profile information at any time. We may also share or disclose your information with your consent, for example if you use a third party application to access your account (see below). Through certain features of the Service, you may also have the ability to make some of your information public. Public information may be broadly and quickly disseminated.
</p>
<p>
  We may need to collect and process Personal Data in order to provide the requested Services, or because we are legally required to do so. If we do not receive the information that we request, we may not be able to provide the requested Services.
</p>
<p>
  Personal Data is information that identifies an individual or relates to an identifiable individual, including:
</p>
<ul class="stack bullet">
  <li>
    <p>
      Full Name or Company Name
    </p>
  </li>
  <li>
    <p>
      Postal Address
    </p>
  </li>
  <li>
    <p>
      Telephone Number
    </p>
  </li>
  <li>
    <p>
      Email Address
    </p>
  </li>
  <li>
    <p>
      Date of Birth
    </p>
  </li>
  <li>
    <p>
      Qualifications
    </p>
  </li>
</ul>
<p><strong>2.2 Non-private or Non-Personal Information</strong></p>
<p>
  We may disclose your non-private, aggregated, or otherwise non-personal information, such as usage statistics of our Service.
</p>
<p><strong>2.3 Geo-Location Information</strong></p>
<p>
  When using the service we may use your Device’s Internet Protocol ("IP") address to identify your approximate geographical location. Images uploaded by the user to the Service may also contain recorded location information. We may use this information to optimize your experience.
</p>
<p><strong>2.4 Service Providers, Business Partners and Others</strong></p>
<p>
  We may use certain trusted third party companies and individuals to help us provide, analyse, and improve the Service (including but not limited to data storage, maintenance services, database management, web analytics, payment processing, and improvement of the Service’s features). These third parties may have access to your information only for purposes of performing these tasks on our behalf and under obligations similar to those in this Privacy Policy.
</p>
<p><strong>2.5 Third-Party Applications</strong></p>
<p>
  We may share your information with a third party application with your consent, for example when you choose to access our Services through such an application. We are not responsible for what those parties do with your information, so you should make sure you trust the application and that it has a privacy policy acceptable to you.
</p>
<p><strong>2.6 Compliance with Laws and Law Enforcement Requests; Protection of Ingham Leisure Limited’s Rights</strong></p>
<p>
  We may disclose to parties outside the Service content and information about you that we collect when we have a good faith belief that disclosure is reasonably necessary to (a) comply with a law, regulation or compulsory legal request; (b) protect the safety of any person from death or serious bodily injury; (c) prevent fraud or abuse of the Service or its users; or (d) to protect Ingham Lesiure Limited’s property rights.
</p>
<p><strong>2.7 Business Transfers</strong></p>
<p>
  If we are involved in a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred as part of that transaction, but we will notify you (for example, via email and/or a prominent notice on our website) of any change in control or use of your Personal Information or Files, or if either become subject to a different Privacy Policy. We will also notify you of choices you may have regarding the information.
</p>
<p><strong>2.8 Your Data</strong></p>
<p>
  We will not sell your data to third-parties without your consent. Some of your personal information will however be shared with companies registered to use the Service. We may use the information to improve our products and services. We may from time to time send promotional emails about new products and services, special offers or other information which we believe you may find interesting, to the email address you provided. We may use the information to customise our website around your interests.
</p>
<h3 class="secondary mb1">3. Data Security</h3>
<p>
  We are committed to ensuring that any information you provide to us is secure. To prevent unauthorised access or disclosure of your data we have put in place physical, electronic and managerial procedures that safeguard the information we collect. The security of your information is important to us. Whenever you submit content using our service, we encrypt the transmission of that information using secure socket layer technology (SSL). We follow generally accepted standards to protect the information submitted to us, both during transmission and once we receive it. No method of electronic transmission or storage is 100% secure, however therefore, we cannot guarantee its absolute security.
</p>
<p>
  Only authorised BeHired employees with a valid, work-related need may access a data subject’s personal information. In the event of a data breach, We will issue breach notifications as may be required under applicable law.
</p>
<h3 class="secondary mb1">4. Links to external websites</h3>
<p>
  Our website may contain links to other websites that we believe you may find of interest. However, you should note that Ingham Leisure Limited do not have any control over external websites. Therefore, Ingham Leisure Limited cannot be responsible for the privacy and protection of information which you provide to external sites and as such, external sites cannot be governed by this privacy statement. To ensure the protection of your privacy you should look at the privacy policy on the external website in question.
  You may receive 3rd party job alerts from our partners, provided you are opted in.
</p>
<h3 class="secondary mb1">5. Controlling your personal information</h3>
<p>
  You may opt-out of receiving promotional and direct marketing messages at any time by sending an email to <a [routerLink]="['/contact']" title="privacy@behired.co.uk">privacy@behired.co.uk</a>. Ingham Leisure Limited will never sell or distribute your personal information to third parties unless we have your prior permission or are required by law to do so. You may request to see details of the information that we retain about you under the Data Protection Act 1998. A fee will be payable. If you wish to receive a copy of this information please write to the above postal address. If you believe that the information we hold about you is incomplete or incorrect, please write to the above postal address. If you are a registered user, you may review, update, correct or delete the Personal Information provided in your registration or account profile by changing your "account settings". If your personally identifiable information changes, or if you no longer desire our service, you may update or delete it by making the change on your account settings. In some cases we may retain copies of your information if required by law.
</p>
<p>
  GDPR introduced a right for individuals to have personal data erased and as such Users reserve ‘the right to be forgotten’. Users can therefore make a request for erasure of personal data verbally or in writing to Ingaham Leisure Ltd trading as BeHired. We will comply with your request within 30 days.
</p>
<h3 class="secondary mb1">6. Third-party web beacons</h3>
<p>
  This website uses Google Analytics to collect information about visitors. Google Analytics uses first-party cookies and JavaScript code to help analyse how users use the site. It anonymously tracks how our visitors interact with this website, including where they came from, what they did on the site including such things as newsletter registration. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of compiling reports on website activity and providing other services relating to website activity and internet usage. You may refuse the use of cookies by selecting the appropriate settings on your browser. Analytics: We also collect some information (ourselves or using third party services) using logging and cookies, which can sometimes be correlated with Personal Information. We use this information for the above purposes and to monitor and analyse use of the Service, for the Service’s technical administration, to increase our Service’s functionality and user-friendliness, and to verify users have the authorisation needed for the Service to process their requests. This information includes the date and time of your visit, the source of your visit and demographic information such as your age and gender. As of the date this policy went into effect, we use Google Analytics.
</p>
<p>
  Other third-party applications we use include Google Analytics, Twitter, Facebook, Bing, Hotjar, Cloudflare, LinkedIn, Raygun, Stripe, Google Maps, Mailchimp, Sendgrid and Firebase.
</p>
<p>
  To contact us please email <a [routerLink]="['/contact']" title="info@behired.co.uk">info@behired.co.uk</a>
</p>
