<div class="text-wrapper animated fadeIn">
  <p class="tab featured-job" *ngIf="!isSaved && job.isFeaturedJobSelected && tabsEnabled">Featured</p>
  <p class="tab new-job" *ngIf="!isSaved && !job.isFeaturedJobSelected && tabsEnabled && index < 5">New</p>
  <p class="tab new-job" *ngIf="isSaved">Saved</p>

  <div>
    <map-view *ngIf="job.isExpand" [job]="job"></map-view>

    <div class="flex justify-between mb2" (click)="goto(job)">
      <div>
        <img *ngIf="job.logo" class="logo animated fadeIn delay-4s" width="60px" [src]="job.logo" default="">
      </div>
      <p class="date" *ngIf="job.datePosted">{{ job?.datePosted.toDate() | date: 'dd/MM/yyyy' }}</p>
    </div>

    <h3 (click)="goto(job)">
      <span [innerHtml]="job.name | truncate : 65 : '...'"></span>
      <span class="baseSalary">
        {{ job.pay | currency: '£' }}

        <ng-container [ngSwitch]="job.payType">
          <span *ngSwitchCase="'Weekly'">p/w</span>
          <span *ngSwitchCase="'Monthly'">p/m</span>
          <span *ngSwitchCase="'Hourly'">p/hr</span>
        </ng-container>
      </span>
    </h3>

    <p *ngIf="!job.isExpand">
      <a class="share-link" title="{{ job.employerName }}" [routerLink]="[ '/jobs/', job.employerId ]">
        @{{ job.employerName }}
      </a>
      <span *ngIf="job.summary" [innerHtml]="job.summary | truncate : 150 : '...'"></span>
      <span *ngIf="job.summary"><br><strong>Address:</strong> {{ job.address.addressLine1 }}</span>
      <span *ngIf="!job.summary" [innerHtml]="job.description | truncate : 200 : '...'"></span>
    </p>
  </div>
</div>

<div class="btn-wrapper">
  <a class="btn btn-secondary" title="Read More"  (click)="goto(job)">Read More</a>
  <a *ngIf="isMapEnabled" class="map flex ml2" title="View map" (click)="job.isExpand = !job.isExpand">View Map</a>
</div>
