@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

$featured: '../../../assets/adverts/featured3.jpg';

:host {
  .info-banner {
    @extend .col-12;
    background-color: $primary-color;
    border-radius: 3px;

    &--green {
      background-color: $secondary-color;
    }

    p {
      @extend .p2;
    }
  }
}
