<h1 class="center mb3">Welcome back!</h1>
<p class="error mt2" *ngIf="error">{{ error }}</p>

<div class="info-banner animated bounceIn" *ngIf="isApplyBannerVisible">
  <p class="white">
    Please sign in to apply for this job<br>
    Not registered yet? <a class="white" [routerLink]="['/signup']" title="sign up">Sign up</a>
  </p>
</div>

<div class="info-banner info-banner--green animated bounceIn" *ngIf="isInfoBannerVisible">
  <p class="white">
    Please sign in to buy credit for a job<br>
    Not registered yet? <a class="white" [routerLink]="['/signup']" title="sign up">Sign up</a>
  </p>
</div>

<div class="info-banner info-banner--green animated bounceIn" *ngIf="isPostBannerVisible">
  <p class="white">
    Please sign in to post a job<br>
    Not registered yet? <a class="white" [routerLink]="['/signup']" title="sign up">Sign up</a>
  </p>
</div>

<form class="col-12" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="email" placeholder="Email*" formControlName="email" class="col-12 mb1 field">

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="email" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="email" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="pattern" when="dirty">Must be of type email</div>
  </div>

  <div>
    <input [type]="passwordType" placeholder="Password*" formControlName="password" class="col-12 mb1 field">

    <a class="eye-toggle" (click)="togglePasswordEye()">
      <i class="fa fa-eye-slash" *ngIf="passwordType === 'text'"></i>
      <i class="fa fa-eye" *ngIf="passwordType === 'password'"></i>
    </a>
  </div>

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="password" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Password is required</div>
    <div class="animated shake" [ngxError]="['minlength', 'maxlength']" when="dirty">Min length is 8 and max length is 15</div>
    <div class="animated shake" ngxError="pattern" when="dirty">
      Must contain at least 1 lowercase character & 1 number
    </div>
  </div>

  <button type="submit" class="btn btn-primary col-12 animated pulse" prevent-double-submit>Sign In</button>
</form>

<a [routerLink]="['/forgot-password']" title="Forgot Password?">Forgot Password?</a>

<div class="flex justify-center mt3">
  <p class="mt1">Not registered yet? <a [routerLink]="['/signup']" title="sign up">Sign up</a></p>
</div>
