@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  background-color: $grey-color-1;

  nav {
    height: 100%;
  }

  .link-wrapper {
    @extend .flex, .flex-column, .justify-between;
    height: 100vh;
  }

  .logo-wrapper {
    @extend .mt2, .mb2, .ml2;
    width: 100px;
  }

  .logout {
    @extend .fixed;
    background-color: $white-color;
    bottom: 0;
    width: 228px;

    li {
      width: 100%;

      &:hover {
        background-color: $secondary-color;

        a {
          color: $primary-color;
        }
      }

      a {
        color: $primary-color;
      }
    }
  }

  li a {
    @extend .flex, .col-12, .p2;

    i {
      margin-top: 3px;
    }

    &.active {
      background-color: $secondary-color;
      color: $white-color;

      &:hover {
        background-color: $secondary-color;
        color: $white-color;
      }
    }
    &:hover {
      background-color: $white-color;
      color: $primary-color;
    }
  }
}
