<nav class="flex flex-column justify-start col-12">
  <a [routerLink]="['/']" title="Behired" class="logo-wrapper">
    <img src="./assets/logos/logo.png" alt="Logo">
  </a>

  <div class="link-wrapper" *ngIf="isSideNavReady">

    <div>
      <ul *ngIf="!isApplicant" class="flex flex-column">
        <li>
          <a *ngIf="!locked" [routerLink]="['/employer/job']" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            title="Create a Job">
            <i class="fas fa-marker mr1"></i>
            Create a Job
          </a>

          <a *ngIf="locked" title="Create a Job">
            <i class="fas fa-lock mr1"></i>
            Create a Job
          </a>
        </li>
        <li>
          <a [routerLink]="['/employer/profile']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" title="Profile">
            <i class="fas fa-user mr1"></i>
            Profile
          </a>
        </li>
        <li>
          <a *ngIf="locked" title="My Jobs">
            <i class="fas fa-lock mr1"></i>
            My Jobs
          </a>

          <a *ngIf="!locked" [routerLink]="['/employer/jobs']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" title="My Jobs">
            <i class="fas fa-list mr1"></i>
            My Jobs
          </a>
        </li>
        <!-- <li>
          <a *ngIf="locked" title="My Courses">
            <i class="fas fa-lock mr1"></i>
            My Courses
          </a>

          <a *ngIf="!locked" [routerLink]="['/employer/courses']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" title="My Courses">
            <i class="fas fa-list mr1"></i>
            My Courses
          </a>
        </li> -->
      </ul>

      <ul *ngIf="isApplicant" class="flex flex-column">
        <li>
          <a [routerLink]="['/applicant/profile']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
            title="Profile">
            <i class="fas fa-user mr1"></i>
            Profile</a>
        </li>
        <li *ngIf="locked">
          <a title="My Applications">
            <i class="fas fa-lock mr1"></i>
            My Applications
          </a>
        </li>
        <li *ngIf="!locked">
          <a [routerLink]="['/applicant/jobs']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" title="My Applications">
            <i class="fas fa-list mr1"></i>
            My Applications
          </a>
        </li>
        <li>
          <a [routerLink]="['/job-board']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" title="Job Board">
            <i class="fas fa-search mr1"></i>
            Job Board
          </a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="logout">
        <li>
          <a class="white" (click)="logout()" title="Sign Out">Sign Out</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
