<section class="side-nav">
  <h3>Topics</h3>

  <ul>
    <li *ngFor="let item of forums">
      <a (click)="getForumComments(item)" [title]="item.title">{{ item.title }}</a>
    </li>
  </ul>
</section>

<section class="content" *ngIf="currentForum">
  <h2>{{ currentForum.title }}</h2>

  <div class="comment-wrapper">
    <ng-container *ngTemplateOutlet="replyTemplate"></ng-container>
  </div>

  <ul *ngIf="forumComments.length > 0">
    <li *ngFor="let item of forumComments">
      <div class="vote-wrapper">
        <a (click)="vote('up', item)" title="Up Vote"><i class="fas fa-sort-up"></i></a>
        <p>{{ item.vote }}</p>
        <a (click)="vote('down', item)" title="Down Vote"><i class="fas fa-sort-down"></i></a>
      </div>

      <div class="text-wrapper">
        <p class="date">{{ item.dateDisplay }}</p>
        <p class="text">{{ item.comment }}</p>

        <div class="btn-actions">
          <a *ngIf="!item.flag" (click)="flag(item)" title="Flag"><i class="far fa-flag"></i> Flag</a>
          <a *ngIf="item.flag" title="Flagged for review"><i class="fas fa-flag"></i> Flagged for review</a>
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="forumComments.length === 0" class="no-data">
    <p>No comments...</p>
  </div>

</section>

<ng-template #replyTemplate>
  <div class="comment">
    <form [formGroup]="form">
      <textarea type="text" placeholder="What are your thoughts?" formControlName="comment" class="field field-area"></textarea>
      <button type="submit" class="btn btn-primary" (click)="addComment()" prevent-double-submit>Comment</button>
      <button type="submit" class="btn btn-secondary" (click)="form.reset()" prevent-double-submit>Cancel</button>
    </form>
  </div>
</ng-template>

<social-login (confirm)="isLoginModalVisible = false" *ngIf="isLoginModalVisible"></social-login>
