@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  @extend .flex, .justify-between;

  @media only screen and (max-width: $break-md) {
    flex-direction: column;
  }

  .side-nav {
    @extend .p1, .mr2;
    min-height: 600px;
    width: 350px;
    box-shadow: 3px -2px 4px $grey-color-3;
    border-radius: 3px;

    @media only screen and (max-width: $break-md) {
      margin-bottom: 25px;
      min-height: auto;
      width: 100%;
    }

    h3 {
      @extend .ml1, .mb2;
      color: $primary-color;
      font-size: 18px;
    }

    ul {
      @extend .flex, .flex-column, .ml1, .mr2;

      li {
        @extend .pt2, .pb2;
        box-shadow: 0 2px 0 $grey-color-3;

        &:first-child {
          border: 0;
        }

        a {
          font-size: 16px;
          color: $secondary-color;
        }
      }
    }
  }

  .content {
    @extend .flex, .flex-column, .col-12;
    height: 630px;

    h2 {
      @extend .mb2, .ml2;
      font-size: 20px;
      color: $primary-color;
    }

    .text-wrapper {
      @extend .flex, .flex-column, .col-12, .m0, .ml2;

      .text {
        padding-top: 10px;
        font-size: 16px;
      }

      .date {
        text-align: right;
        color: $grey-color-2;
        font-size: 12px;
      }

      .btn-actions {
        @extend .flex, .justify-start, .mb2;
        margin-top: 12px;

        a {
          @extend .mr2;
          font-size: 12px;

          i {
            margin-right: 5px;
          }
        }
      }
    }

    .comment-wrapper {
      @extend .ml2, .mb2;
    }

    .vote-wrapper {
      @extend .flex, .flex-column, .justify-start, .m0;
      margin-right: 20px;
      text-align: center;

      a {
        @extend .m0, .p0;
        color: $secondary-color;
        font-size: 22px;
      }

      p {
        @extend .m0, .p0;
        font-weight: bold;
      }
    }

    ul {
      @extend .flex, .flex-column, .col-12, .ml2;
      height: 100%;
      overflow-y: scroll;

      li {
        @extend .flex, .justify-start, .p2;
        padding-left: 4px;
        box-shadow: 1px 2px 4px $grey-color-3;
        padding-bottom: 10px;

        p {
          @extend .m0;
          font-size: 14px;
        }
      }
    }
  }

  .comment {
    @extend .flex, .col-12;

    form {
      @extend .flex, .col-12, .justify-start;

      @media only screen and (max-width: $break-md) {
        flex-direction: column;
      }
    }

    textarea {
      @extend .col-12;
      font-size: 14px;
      max-height: 75px;
      border-radius: 3px;
    }

    button {
      @extend .ml1;
      font-size: 14px;
      width: 100px;

      @media only screen and (max-width: $break-md) {
        padding-left: 0;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
      }
    }
  }

  .no-data {
    @extend .flex, .justify-center;
    text-align: center;
    padding: 50px;
    min-height: 300px;
    align-items: center;

    p {
      @extend .m0;
    }
  }
}
