<h1 class="mb3">Terms &amp; Conditions</h1>
<p>
  In these Website Terms and Conditions (the "Terms and Conditions"): "The Company", "we", "us" and/or "our" means Ingham Leisure Limited, a company registered in England and Wales (company number 9252464) whose registered office is 46 Richmond Road, Solihull, West Midlands, B92 7RP. "User", "Customer", "you" and/or "your" means any person who uses our Website.
</p>
<h3 class="secondary mb1">1. Introduction</h3>
<p>
  1.1 Please read these Terms and Conditions carefully and make sure that you understand them before you start to use the Website. We recommend that you print a copy of these Terms and Conditions for future reference.
</p>
<p><strong>1.2  These Terms and Conditions govern:</strong></p>
<p>1.2.1 your access to, and use of, the Website and the content on it; and</p>
<p>
  1.2.2 your submission of any comments, postings, contributions, designs, words, images or other material to the Website ("Contributions").
</p>
<p>
  1.3  By using the Website you confirm that you accept these Terms and Conditions and that you agree to comply with them.
</p>
<p>
  1.4  We may revise these Terms and Conditions at any time. You should check this page from time to time to take note of any changes we make, as they are binding on you from the date that we make them.
</p>
<p>
  1.5  These Terms and Conditions, any Additional Terms and any contract concluded between us via the Website, are only available in the English language.
</p>
<h3 class="secondary mb1">2. Access to Our Website</h3>
<p>2.1 We shall endeavour to provide constant, uninterrupted access to the Website and any content on it, but we cannot and do not guarantee to do so. Access to our Website is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our Website without notice. Save where expressly stated otherwise in any Additional Terms, we will not be liable to you if for any reason our Website is unavailable or is withdrawn at any time or for any period.</p>
<p>2.2 You are responsible for making all arrangements necessary for you to have access to our Website.</p>
<h3 class="secondary mb1">3. Changes to Our Website</h3>
<p>3.1  We may update the Website from time to time, and may change the content of the Website at any time. However, please note that any of the content on the Website may be out of date at any given time, and we are under no obligation to update it.</p>
<h3 class="secondary mb1">4. Your Account and Password</h3>
<p>
  4.1 We may choose to restrict access to the Website or to parts of it to registered users.
</p>
<p>4.2 If you choose, or you are provided with, a user identification name, code or password to access certain parts of our Website, you must treat such information as confidential. Your identification name, code and/or password are non-transferable.</p>
<p>4.3  We have the right to disable any user identification name, code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these Terms and Conditions or any Additional Terms.</p>
<p>4.4 If you know or suspect that anyone other than you knows your user identification name, code or password, you must immediately notify us at <a [routerLink]="['/contact']" title="customerdata@behired.co.uk">customerdata@behired.co.uk</a><br>4.5 You are liable for any unauthorised use of your user name, code and/or password.
</p>
<h3 class="secondary mb1">5. Acceptable use policy</h3>
<p>5.1 General</p>
<p>5.1.1 You may only use our Website for lawful purposes. You may not use our Website: in any way that breaches any applicable local, national or international law or regulation;</p>
<ul class="stack bullet">
<li>
  <p>
    in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;
  </p>
</li>
<li>
  <p>
    to send, knowingly receive, upload, download, use or re-use any material which does not comply with the Standards (as defined in Clause 5);
  </p>
</li>
<li>
  <p>
    to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam); or
  </p>
</li>
<li>
  <p>
    to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information or adversely affect the operation of any computer software or hardware.
  </p>
</li>
</ul>
<p><strong>5.1.2 You agree:</strong></p>
<ul class="stack bullet">
<li>
  <p>
    not to reproduce, duplicate, copy or re-sell any part of our Website save where expressly permitted to do so by these Terms and Conditions or any Additional Terms; and
  </p>
</li>
<li>
  <p>
    not to access without authority, interfere with, damage or disrupt: (i) any part of our Website; (ii) any equipment or network on which our Website is stored; (iii) any software used in the provision of our Website; or (iv) any equipment or network or software owned or used by any third party.
  </p>
</li>
</ul>
<p><strong>5.2 Interactive Services</strong></p>
<p>5.2.1 We may from time to time provide interactive services on our Website which shall enable you to upload or post Contributions to the Website, including, without limitation:</p>
<ul class="stack bullet">
<li><p>comment facilities;</p></li>
<li><p>uploading and exhibiting user designs;</p></li>
<li><p>messages; and/or</p></li>
<li><p>bulletin boards,</p></li>
<li><p>(together "Interactive Services").</p></li>
</ul>
<p>
5.2.2 Where we provide an Interactive Service, we will use reasonable endeavours to provide information to you about the kind of service offered and if it is moderated. However, we are under no obligation to oversee, monitor or moderate any Interactive Service we provide, and we expressly exclude our liability for any loss or damage arising from the use of any Interactive Service by a user or from the Contributions posted or uploaded to any Interactive Service by another user whether the Interactive Service is moderated or not.
</p>
<p>
5.2.3 The use of any of our Interactive Services by a minor is subject to the consent of their parent or guardian. We advise parents who permit their children to use an Interactive Service that it is important that they communicate with their children about their safety online. Minors who are using any Interactive Service should be made aware of the potential risks to them.
</p>
<p>5.3 Content Standards</p>
<p>
5.3.1 The content standards set out in this Clause 5 ("Standards") apply to any and all Contributions, and to any Interactive Service associated with them.
</p>
<p>
5.3.2 Any Contributions will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your Contributions, but you are required to grant us and other users of the Website a limited licence to use, store and copy that content and to distribute and make it available to third parties. The rights you license to us are described in Clause 6 (Grant of Licence to Use Contributions).
</p>
<p>5.3.3 You must comply with the spirit and the letter of the following standards.</p>
<p><strong>5.3.4 Contributions must:</strong></p>
<ul class="stack bullet">
<li><p>be accurate (where they state facts);</p></li>
<li><p>be genuinely held (where they state opinions); and</p></li>
<li><p>comply with applicable law.</p></li>
</ul>
<p><strong>5.3.5 Contributions must not:</strong></p>
<ul class="stack bullet">
<li><p>contain any material which is trade libellous or defamatory of any person;</p></li>
<li><p>contain any material which is obscene, pornographic, offensive, hateful or inflammatory;</p></li>
<li><p>promote violence or promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</p></li>
<li><p>be threatening, abuse or invade another’s privacy, or cause annoyance, inconvenience or needless anxiety;</p></li>
<li><p>be likely to harass, upset, embarrass, alarm or annoy any other person;</p></li>
<li><p>be likely to deceive any person;</p></li>
<li><p>infringe any intellectual property rights, other proprietary rights or the privacy or confidential information of any person;</p></li>
<li><p>be used to impersonate any person, or to misrepresent your identity or affiliation with any person;</p></li>
<li><p>advertise any goods or service or be for a commercial purpose;</p></li>
<li><p>give the impression that they emanate from us, if this is not the case; or</p></li>
<li><p>advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</p></li>
</ul>
<p><strong>5.4 Suspension and Termination</strong></p>
<p>5.4.1 If we determine, in our absolute discretion, that you have breached this Clause 5 we may immediately take all or any of the following actions:</p>
<ul class="stack bullet">
<li><p>temporarily or permanently withdraw your right to use the Website;</p></li>
<li><p>temporarily or permanently remove any Contribution uploaded by you to our Website;</p></li>
<li><p>issue a warning to you;</p></li>
<li><p>issue legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;</p></li>
<li><p>take further legal action against you; and/or</p></li>
<li><p>disclose such information to law enforcement authorities as we reasonably feel is necessary to do so.</p></li>
</ul>
<p>
5.4.2 We exclude liability for actions taken in response to breaches of this Clause 5. The responses described in this Clause 5 are not limited, and we may take any other action we reasonably deem appropriate in respect of your breach.
</p>
<p>
5.4.3 We will not be responsible, or liable to any third party, for the content or accuracy of any Contributions posted by you or any other user of our Website.
</p>
<p>
5.4.4 You acknowledge that your breach of this Clause 5 may cause damage or loss to us and you agree to indemnify us in full against any third party liabilities, claims, costs, loss or damage including consequential losses, incurred as a result of such a breach. If you are a consumer, this means you will be responsible for any loss or damage we suffer as a result of your breach of this Clause 5.
</p>
<p>
5.4.5 We may provide your identity to a third party who is claiming that any content posted or uploaded by you to our Website constitutes a violation of their intellectual property rights, or of their right to privacy. You also acknowledge that we may be required to hand over such information by order of a court of law.
</p>
<p>
5.4.6 We provide screening technology for detecting abusive behaviour and inappropriate language however cannot be responsible for the messages sent using BeHired platform. Not responsive for abusive messages. If there are any messages please report them to <a [routerLink]="['/contact']" title="customerdata@behired.co.uk">customerdata@behired.co.uk</a>
</p>
<p>5.5 Complaints</p>
<p>5.5.1 If you wish to complain about any Contribution posted to an Interactive Service, please e-mail us at <a [routerLink]="['/contact']" title="customerdata@behired.co.uk">customerdata@behired.co.uk</a> setting out full details of your complaint. We will then review the Contribution and decide whether it complies with the Standards.</p>
<p>5.5.2 In order to investigate your complaint, we may need to share your identity and the details of your complaint with the user that posted the Contribution that is the subject of your complaint.
<p>5.5.3 The views expressed by other users on our Website, including in any Contributions, do not represent our views or values.</p>
<h3 class="secondary mb1">6. Grant of license to use contributions</h3>
<p>6.1 You grant us a non-exclusive, transferable, perpetual, royalty-free, worldwide licence to copy, use, reproduce, distribute, display, publish, adapt, prepare derivate works of and/or amend any Contribution in any format. This licence shall include the right for any user of the Website to access and use the Contribution in accordance with Clause 7.2 and in connection with the functionality of the Website.
</p>
<p>
  6.2 We reserve the right, at our sole discretion, to make additions or deletions to, to edit, crop or arrange any Contributions prior to publication. We also reserve the right not to publish a Contribution in whole or in part or to remove a Contribution in whole or in part.
</p>
<p>6.3 You warrant that you are entitled to grant us the rights set out in Clause 6.1 and that the use by us of any Contribution submitted by you shall not infringe the rights (including the intellectual property rights and privacy rights) of any third party.</p>
<h3 class="secondary mb1">7. Intellectual Property rights</h3>
<p>7.1 We are the owners or licensees of all intellectual property rights in the Website. All text, information, graphics, interfaces, photographs, video and other material available on the Website is protected by copyright, trade mark and other proprietary and intellectual property laws.
</p>
<p>7.2 You may not use any of our intellectual property rights without our express written consent, however you are permitted to print or save to your individual PC, tablet or storage extracts from this Website for your own personal non-commercial use. This does not include downloading, storing, transmitting, displaying, copying or distributing any materials on the Website, or extracts from it, in a structured manner or creating a database in any form comprising all or part of any material on the Website.</p>
<p>7.3 If you are a business user, you may draw the attention of others within your organisation to content posted on our Website.</p>
<p>7.4 You must not modify any paper or digital copies of any materials you have printed off or downloaded from the Website and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. Our status (and that of any identified contributors) as the authors of content on our Website must always be acknowledged.
  <p>7.5 You must not use any part of the content on our Website for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
  <h3 class="secondary mb1">8. Links</h3>
  <p>8.1 Where the Website contains links to other sites or resources, these links are provided for your information only. Such links should not be interpreted as endorsement by us of those linked websites or resources. We have no control over the content of those sites or resources and accept no responsibility for them or for any loss or damage that may arise from your use of them. You should check the terms of use applicable to any website or other resource that you link to from the Website.
  </p>
  <p>8.2 You may link to the home page of the Website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must not establish a link from any website that is not owned by you. The Website must not be framed on any other site, nor may you create a link to any part of the Website other than the home page. We reserve the right to withdraw linking permission without notice.</p>
  <h3 class="secondary mb1">9. Advertising and sponsorship</h3>
  <p>9.1 The inclusion of any advertising or any sponsorship material on the Website does not constitute an endorsement of the relevant advertiser or sponsor or their goods or services. Any correspondence or dealings you have with advertisers or sponsors are solely between you and the relevant advertiser or sponsor. We shall not be responsible for any loss or damage of any kind suffered or incurred by you as a result of any correspondence or dealing you have with any advertiser or sponsor.</p>
  <h3 class="secondary mb1">10. Data protection, Cookies and GDPR</h3>
  <p>10.1 Our <a title="Privacy Policy" [routerLink]="['/privacy']">Privacy Policy</a> and <a title="Cookie Policy" [routerLink]="['/cookie']">Cookie Policy</a>, sets out the terms on which we process any personal data we collect from you, or that you provide to us when using the Website and which sets out information about the cookies we use on the Website. By using our Website, you consent to such processing and you warrant that all data provided by you is accurate.</p>
  <h3 class="secondary mb1">11. No reliance on information</h3>
  <p>
    11.1 The content on our Website is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from taking, any action on the basis of the content on our Website.
  </p>
  <p>
    11.2 Although we make reasonable efforts to update the information and content on our Website, we make no representations, warranties or guarantees, whether express or implied, that the information and content on our Website is accurate, complete or up-to-date at any time.
  </p>
  <h3 class="secondary mb1">12. Limitation of our liability</h3>
  <p>
    12.1 Save as expressly provided in any Additional Terms, all warranties, conditions and other terms implied by statute or common law are, to the fullest extent permitted by law, excluded from these Terms and Conditions.
  </p>
  <p>
    12.2 To the maximum extent permitted by law, we, and our respective agents and representatives shall have no liability whatsoever to you or any third party for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with your:
  </p>
  <ul class="stack bullet">
    <li><p>use of, or inability to use, our Website; or</p></li>
    <li><p>use of or reliance on any content displayed on our Website, including your or a third party's Contribution(s).</p></li>
  </ul>
  <p>
    12.3 If you are a business, please note that in particular, we will not be liable for:
  </p>
  <ul class="stack bullet">
    <li><p>loss of profits, sales, business, or revenue;</p></li>
    <li><p>business interruption;</p></li><li><p>loss of anticipated savings;</p></li>
    <li><p>loss of business opportunity, goodwill or reputation; or</p></li>
    <li><p>any indirect or consequential loss or damage.</p></li>
  </ul>
  <p>
    12.4 If you are a consumer, please note that we only provide our Website for your domestic and private use only. You agree not to use our Website for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
  </p>
  <p>12.5 We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our Website or to your downloading of any content on it, or on any website linked to it.
  </p>
  <p>
    <strong>12.6 Nothing in these Terms and Conditions excludes or limits our liability for:</strong>
  </p>
  <ul class="stack bullet">
    <li><p>death or personal injury caused by our negligence;</p></li>
    <li><p>fraud or fraudulent misrepresentation; or</p></li>
    <li><p>any other liability that cannot be limited or excluded by law.</p></li>
  </ul>
  <h3 class="secondary mb1">13. Miscellaneous</h3>
  <p>
    13.1 If any provision in these Terms and Conditions is deemed unlawful, void, or for any reason unenforceable, then that provision shall be enforced to the maximum extent permissible, and the remainder of the Terms and Conditions shall remain in full force and effect.
  </p>
  <p>13.2 Any failure by us to enforce or exercise any provision in these Terms and Conditions shall not constitute a waiver of that provision or any other provision.</p>
  <p>13.3 We may transfer, assign, sublicense or pledge in any manner whatsoever, any of our rights and obligations under these Terms and Conditions to any third party without notice and without the need to receive your consent. You may only transfer, assign, sublicense or pledge your rights or your obligations under these Terms and Conditions to another person if we provide our consent to you in writing.</p>
  <p>
    13.4 Any position which requires, as part of normal duties, caring for, training, supervising or being in sole charge of children or vulnerable adults will require Disclosure &amp; Barring Service (DBS) checks to be undertaken, including provision of a suitable Disclosure Certificate and Disclosure and Barring (DBS) Registration.
  </p>
  <p>13.5 The Protection of Children Act, the Protection of Vulnerable Adults Act and the Safeguarding Vulnerable Groups Act, as amended, will apply in this case.</p>
  <p>13.6 The amendments to the Exceptions Order 1975 (2013) provide that certain spent convictions and cautions are 'protected' and are not subject to disclosure to employers and cannot be taken into account. Guidance and criteria on the filtering of these cautions and convictions can be found at the <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service" target="_blank" title="DBS Website">Disclosure and Barring Service website.</a>
</p>
<h3 class="secondary mb1">14. Applicable law and jurisdiction</h3>
<p>
  14.1 These Terms and Conditions, their subject matter and their formation, are governed by English law.
</p>
<p>14.2 The courts of England and Wales shall have exclusive jurisdiction to settle any disputes arising in connection with these Terms and Conditions (including any non-contractual terms). However, if you are a consumer and are a resident of Northern Ireland you may also bring proceedings in Northern Ireland, and if you are resident of Scotland, you may also bring proceedings in Scotland.
</p>
<h3 class="secondary mb1">15. Company imagery</h3>
<p>
  15.1 Only to the extent permitted by law, if you post content or submit material to BeHired, including photographs or material you submit for a job solicitation hosted on the platform, you grant us a nonexclusive, worldwide, perpetual, (revocable only as described below), fully paid, royalty-free, sublicensable (through multiple layers of sub-licensees) right and license to make, use, sell, sublicense, reproduce, distribute, perform, display, prepare derivative works from and otherwise exploit all such content and materials for the purpose of publishing material on the platform or its publisher partners, maintaining the website and promoting BeHired without restriction. Furthermore, you grant to BeHired, its affiliates, and sublicensees the license to use your name, user name, and/or trademarks and logos in connection with any such User Content or BeHired marketing materials, or actions by us to promote or publicise such User Content (e.g. Job Listings) including the use of keywords in third-party internet search engines. Notwithstanding the foregoing, to the extent any Employer(s) submits photographs to BeHired for association with a particular Job Listing, BeHired shall not post such content anywhere other than the Employer(s)’s Job Listing.
</p>
<h3 class="secondary mb1">Contact Us</h3>
<p>
  To contact us please email <a [routerLink]="['/contact']" title="info@behired.co.uk">info@behired.co.uk</a>
</p>