@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

$home-blue-color: #3485F9;

:host {
  width: 100%;

  .hero-wrapper {
    @extend .col-12, .flex, .flex-column, .items-center, .justify-center;
    height: 650px;

    .hero-content {
      @extend .col-12, .flex, .relative, .flex-column, .items-center, .justify-center;
      margin-top: -80px;
      z-index: 1;

      @media screen and (max-width: $break-md) {
        margin-top: -20px;
        width: 80%;
      }

      &.content-recruiter {
        @media screen and (max-width: $break-md) {
          margin-top: -25px;
          width: 80%;
          text-align: center;
        }
      }

      form {
        @media screen and (max-width: $break-md) {
          width: 100%;
        }
      }

      .button-wrapper {
        @extend .col-12, .flex, .justify-center;

        @media screen and (max-width: $break-md) {
          flex-direction: column;
          align-items: center;
        }
      }

      .btn-recruiter {
        width: 200px;

        @media screen and (max-width: $break-md) {
          padding: 15px 0;
          width: 80%;
        }

        &.btn-pricing {
          margin-left: 15px;

          @media screen and (max-width: $break-md) {
            margin-top: 25px;
            margin-left: 0;
          }
        }
      }

      h1 {
        @media screen and (max-width: $break-md) {
          font-size: 26px;
          margin-bottom: 35px;
        }
      }

      h3 {

        @media screen and (max-width: $break-md) {
          display: flex;
          flex-direction: column;
        }

        span {
          font-size: 18px;
          color: $white-color;
          display: inline-flex;

          @media screen and (max-width: $break-md) {
            font-size: 16px;
            justify-content: center;
            margin-bottom: 10px;
          }

          .fa-circle {
            font-size: 10px;
            padding: 0 15px;
            line-height: 22px;
            color: $secondary-color;

            @media screen and (max-width: $break-md) {
              display: none;
            }
          }
        }
      }

      .scroll-down {
        @extend .relative;
        top: 140px;

        @media screen and (max-width: $break-md) {
          display: none;
        }

        &.scroll-recruiter {
          @media screen and (max-width: $break-md) {
            display: flex;
            top: 112px;
          }
        }

        .text {
          @extend .flex, .flex-column;
          color: $white-color;
          text-align: center;

          span {
            font-size: 16px;
            color: $white-color;
          }

          i {
            font-size: 25px;
            margin-top: 15px;
            color: $white-color;
          }
        }
      }
    }
  }

  .angle {
    @extend .relative;
    top: 60px;
    margin-bottom: 20px;
    background-color: $white-color;
    z-index: 2;
    width: 110%;
    height: 110px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  .logo-wrapper {
    @extend .flex, .flex-column, .col-10, .justify-center;
    align-items: center;
    padding: 35px 0 30px 0;
    margin-bottom: 150px;

    @media screen and (max-width: $break-md) {
      display: none;
    }
    @media screen and (max-width: $break-md) {
      display: none;
    }

    h2 {
      text-align: left;
      width: 100%;
      margin-bottom: 40px;
    }

    .logo-content {
      @extend .flex, .col-12, .justify-between;
      align-items: center;

      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 100px;
      }
    }
  }

  .info-wrapper {
    @extend .flex, .flex-column, .col-12, .justify-center;
    align-items: center;
    background-color: $white-color;
    padding: 120px 0;
    min-height: 300px;

    @media screen and (max-width: $break-md) {
      padding: 60px 0;
    }

    .info-content {
      @extend .flex, .justify-start, .col-10;

      @media screen and (max-width: $break-md) {
        border-bottom: 1px solid $grey-color-4;
        padding-bottom: 60px;
        width: 80%;
        flex-direction: column;
      }

      &--last-item {
        border-bottom: none;
      }
    }

    h2 {
      @extend .mb3;
      font-size: 36px;

      @media screen and (max-width: $break-md) {
        font-size: 26px;
      }
    }

    p {
      @extend .mb2;
      font-size: 18px;

      @media screen and (max-width: $break-md) {
        font-size: 16px;
      }
    }

    .how-works {
      background: url($home-3) no-repeat;
      background-size: 100%;
      background-position: 38px -28px;
      height: 500px;
      width: 50%;

      @media screen and (max-width: $break-md) {
        background-position: top center;
        height: 400px;
        width: 100%;
      }
    }

    .our-vision {
      background: url($home-5) no-repeat;
      background-size: 100%;
      background-position: -33px -38px;
      height: 500px;
      width: 50%;

      @media screen and (max-width: $break-md) {
        background-position: top center;
        height: 400px;
        width: 100%;
      }
    }

    .people-quotes {
      background: url($home-6) no-repeat;
      background-size: 100%;
      background-position: 58px -75px;
      height: 500px;
      width: 50%;

      @media screen and (max-width: $break-md) {
        background-position: top center;
        height: 400px;
        width: 100%;
      }
    }

    .need-help {
      background: url($home-9) no-repeat;
      background-size: 100%;
      background-position: -33px -38px;
      height: 600px;
      width: 50%;

      @media screen and (max-width: $break-md) {
        background-position: top center;
        height: 400px;
        width: 100%;
      }
    }

    .text-content {
      @extend .flex, .flex-column, .col-6, .justify-center;
      text-align: left;
      align-items: flex-start;

      @media screen and (max-width: $break-md) {
        width: 100%;
      }

      &.align-right {
        text-align: right;
        align-items: flex-end;
      }
      &.align-center {
        text-align: center;
        align-items: center;
      }

      .quote {
        @extend .flex, .justify-between;

        @media screen and (max-width: $break-md) {
          flex-direction: column;
        }
      }

      i.fas {
        color: $home-blue-color;

        &.fa-quote-right {
          line-height: 100px;
        }
        &.fa-angle-right {
          margin-top: 5px;
        }
      }
    }
  }

  form {
    @media screen and (max-width: $break-md) {
      flex-direction: column;
    }

    .btn {
      @extend .ml2;
      height: 53px;
      width: 300px;

      @media screen and (max-width: $break-md) {
        margin: 20px 0 0 0;
        width: 100%;
        background-color: $secondary-color;
      }
    }

    .field {
      @media screen and (max-width: $break-md) {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
}
