<section class="payment-wrapper animated fadeIn">
    <section class="progress-bar">
      <div class="step animated bounceIn"
      [ngClass]="{ 'step1': step === 'step1', 'step2': step === 'step2', 'step3': step === 'step3', 'step4': step === 'step4' }"></div>
    </section>

    <section class="steps-wrapper">
      <div class="payment-wrapper col-8">
        <payment-options *ngIf="step === 'step1'" (beginPayment)="beginPayment()"></payment-options>
        <select-credit *ngIf="step === 'step2'" (changeCredit)="updateBasket($event)"></select-credit>
        <select-card *ngIf="step === 'step3'" (backStep)="resetBasket()" (pay)="makePayment($event)" [error]="error"></select-card>
        <payment-success *ngIf="step === 'step4'"></payment-success>
      </div>

      <div *ngIf="step !== 'step1'"  class="order-wrapper col-3">
        <div class="order-summary">
          <h3 class="flex justify-between mb2">
            <strong>Order Summary</strong>
            <i class="fas fa-shopping-cart"></i>
          </h3>

          <p class="mb1">Job Credit: {{ totalCredits }}</p>
          <p class="border-bottom pb2 mb2">Featured Job Credit: {{ totalFeatured }}</p>

          <p>Total Cost: £{{ (totalCredits * jobPrice) + (totalFeatured * featuredPrice) }}</p>

          <img class="stripe" src="../../assets/icons/powered-stripe.png" alt="Powered by Stripe">
        </div>
      </div>
    </section>
</section>

<div class="loading-mask" *ngIf="isProcessingPayment"></div>
<div class="loading animated fadeIn" *ngIf="isProcessingPayment">
    <p class="white">Processing your order...</p>
    <img src="../../assets/icons/loading-white.svg" alt="Paying">
</div>
