@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  .payment-wrapper {
    @extend .col-12;
  }

  .progress-bar {
    @extend .col-12, .flex, .mt3, .mb3;
    background-color: $grey-color-1;
    height: 25px;

    .step {
      @extend .flex;
      background-color: $primary-color;
      border-radius: 0 5px 5px 0;

      &.step1 {
        width: 15%;
      }
      &.step2 {
        width: 30%;
      }
      &.step3 {
        width: 60%;
      }
      &.step4 {
        width: 100%;
      }
    }
  }

  .steps-wrapper {
    @extend .col-12, .flex, .justify-between;
  }

  .order-summary {
    @extend .p2;
    border-radius: 5px;
    background-color: $grey-color-1;
    height: 175px;

    .stripe {
      width: 80px;
    }
  }

  .payment-wrapper {
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  .order-wrapper {
    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }
}
