<form-dialog [isVisible]="isUpdated" [title]="'Success'"></form-dialog>

<progress-bar *ngIf="isViewReady" [profile]="profile" [profileType]="'applicant'"></progress-bar>
<welcome-notification></welcome-notification>

<section class="flex col-12 animated fadeIn" *ngIf="isViewReady">
  <section class="logo-column col col-3">
    <div class="box box_medium">
      <p *ngIf="isLogoUploadError" class="error animated shake">Error: File must be a png or jpg and not exceed 8mb</p>

      <div class="animated fadeIn" *ngIf="logo">
        <a class="remove-logo" title="Remove" (click)="deleteFile('logos', 'logo')">
          <i class="fas fa-times mr1"></i>
        </a>
        <img class="logo" [src]="logo" alt="Logo">
      </div>

      <div *ngIf="!logo && !uploadingLogo" class="dropzone" dropZone
        (dropped)="uploadFile($event, 'logos', 'logo')"
        (hovered)="hoverLogo($event)"
        [class.logoHover]="logoHover">
        <div class="file-wrapper">
          <input type="file" id="LogoFile" class="hidden" (change)="uploadFile($event, 'logos', 'logo')">
          <label for="LogoFile">Drop or click to upload a photo</label>
        </div>
      </div>

      <img class="loading-img" *ngIf="uploadingLogo" title="Loading" src="./assets/icons/loading.svg">
    </div>

    <div class="box box_medium">
        <p *ngIf="isCvUploadError" class="error animated shake">Error: File must be a pdf, doc or docx and not exceed 8mb</p>

        <div *ngIf="cv" class="cv-added">
          <a [title]="form.value.cvName" [href]="form.value.cv" target="_blank">CV added: <strong>{{ form.value.cvName }}</strong></a>

          <a class="secondary" title="Remove CV" (click)="deleteFile('cvs', 'cv')">
            <i class="fas fa-times mr1"></i> Remove CV
          </a>
        </div>

        <div *ngIf="!cv && !uploadingCV" class="dropzone" dropZone
          (dropped)="uploadFile($event, 'cvs', 'cv')"
          (hovered)="hoverCv($event)"
          [class.cvHover]="cvHover">
          <div class="file-wrapper">
            <input type="file" id="CvFile" class="hidden" (change)="uploadFile($event, 'cvs', 'cv')">
            <label for="CvFile">Drop or click to upload a CV</label>
          </div>
        </div>

        <img class="loading-img" *ngIf="uploadingCV" title="Loading" src="./assets/icons/loading.svg">
      </div>
  </section>

  <section class="form-column col col-6">

    <form class="flex flex-wrap col-12 pb3" [formGroup]="form" autocomplete="false">
      <input type="text" placeholder="First Name*" formControlName="firstName" class="col-12 field">
      <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="firstName" #myError="ngxErrors">
        <div class="animated shake" ngxError="required">First name is required</div>
        <div class="animated shake" [ngxError]="['minlength', 'maxlength']">Min length is 0 and max length is 60</div>
      </div>

      <input type="text" placeholder="Last Name*" formControlName="lastName" class="col-12 field">
      <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="lastName" #myError="ngxErrors">
        <div class="animated shake" ngxError="required">Last name is required</div>
        <div class="animated shake" [ngxError]="['minlength', 'maxlength']">Min length is 0 and max length is 60</div>
      </div>

      <div formGroupName="address" class="col-12 mb1">
        <label for="Location"><i class="fas fa-info-circle"></i> Select from the list as you type</label>

        <input *ngIf="isGoogleReady" class="col-12 field field-google" type="text" placeholder="Your Location*"
          id="Location" ngx-google-places-autocomplete [options]='options'
          (onAddressChange)="handleAddressChange($event)" formControlName="addressLine1" #placesRef="ngx-places">

        <p class="error mb1 animated shake"
          *ngIf="isErrorsVisible && form['controls']['address']['controls']['placeId'].value === null">
          Address is required
        </p>
      </div>

      <input type="tel" pattern="[0-9]*" placeholder="Mobile Phone" formControlName="mobileNumber" class="col-12 field">
      <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="mobileNumber" #myError="ngxErrors">
        <div class="animated shake" ngxError="pattern">Please enter a valid mobile number</div>
      </div>

      <textarea class="col-12 field field-area" placeholder="About Me" formControlName="about"></textarea>
      <textarea class="col-12 field field-area" placeholder="Cover Letter" formControlName="cover"></textarea>

      <button type="submit" class="col-12 btn btn-primary" (click)="submit()" prevent-double-submit>Update</button>
    </form>
  </section>

  <section class="tip-column col col-3">
    <div class="box box_medium">
      <h2>Tips</h2>
      <p>
        First Name, Last Name and Address are the only compulsory fields to unlock the ability to apply for jobs.<br><br>
        Once those fields are complete, click the update button and the left menu will be unlocked.<br><br>
        All other fields are optional but will help employers understand yourself.<br><br>
        In addition, you can upload a CV and a profile image to help promote yourself as an applicant.<br><br>
        The CV must be a pdf, doc or docx file type and profile image must be png or jpg with a maximum file size of 8mb.
      </p>
    </div>

    <div class="box box_medium" *ngIf="profile">
      <map-view [job]="profile" [zoom]="10"></map-view>
    </div>
  </section>
</section>
