@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  @media screen and (max-width: $break-md) {
    margin-top: 1em;
  }

  .strong, i {
    color: $primary-color;
    font-size: 18px;
  }
}
