<a title="Save Job" class="save mr2 animated fadeIn" (click)="toggleSave()">
  <strong *ngIf="!isSavedJob">Save Job</strong>
  <strong *ngIf="isSavedJob">Unsave Job</strong>
  <i class="fas fa-heart ml2" *ngIf="isSavedJob"></i>
  <i class="far fa-heart ml2" *ngIf="!isSavedJob"></i>
</a>
