<section *ngIf="isVisible"
  class="notification relative col-12 animated fadeIn">
  <div class="notification__banner notification__banner--cookie">
    <div class="text-content">
      <p class="m0">
        We use <a class="white" [routerLink]="['/cookie']" title="cookies">cookies</a> on this site to enhance your user experience.
        By clicking 'I Agree' you are giving your consent <a class="btn-link white ml2" title="I Agree" (click)="setCookie()">I Agree</a>.
      </p>
    </div>
  </div>
</section>
