<form-dialog [isVisible]="isUpdated" [title]="'Updated'" [message]="message"></form-dialog>

<section class="flex col-12">
  <section class="form-column col-9">
    <form class="flex col-12 mb4" [formGroup]="form">
      <div class="col-12">
        <div class="flex justify-between">
          <div class="flex">
            <p>
              <strong>Status: </strong>
              <span class="quaternary" [ngClass]="{ 'secondary': form.value.isActive }">{{ form.value.isActive ? 'Active' : 'inActive' }}</span>
            </p>
            <p class="ml2" *ngIf="isUpdateJob">
              <strong>Featured Job: </strong>
              <span class="quaternary" [ngClass]="{ 'secondary': form.value.isFeaturedJobSelected }">{{ form.value.isFeaturedJobSelected ? 'Yes' : 'No' }}</span>
            </p>
          </div>
        </div>

        <div class="field-wrapper">
          <input type="text" placeholder="Job Name*" formControlName="name" class="col-12 field mb2">

          <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="name" #myError="ngxErrors">
            <div class="animated shake" ngxError="required">Name is required</div>
            <div class="animated shake" ngxError="pattern">Must not contain special characters</div>
            <div class="animated shake" [ngxError]="['minLength']">
               Must contain at least 5 characters
            </div>
          </div>
        </div>

        <div class="field-wrapper">
            <input type="text" placeholder="Summary*" formControlName="summary" class="col-12 field mb2">

            <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="summary" #myError="ngxErrors">
              <div class="animated shake" ngxError="required">Summary is required</div>
              <div class="animated shake" ngxError="pattern">Must not contain special characters</div>
              <div class="animated shake" [ngxError]="['minlength']">
                 Must contain at least 15 characters
              </div>
            </div>
          </div>

         <div class="field-wrapper">
            <quill-editor formControlName="description" placeholder="Description*" [styles]="{height: '200px'}"></quill-editor>

            <div *ngIf="isErrorsVisible" class="errors mt1" ngxErrors="description" #myError="ngxErrors">
              <div class="animated shake" ngxError="required">Description is required</div>
              <div class="animated shake" [ngxError]="['minlength']">
                Must contain at least 30 characters
              </div>
            </div>
        </div>

        <div formGroupName="address" class="field-wrapper mt1 mb2">
          <label for="Location">
            <i class="fas fa-info-circle"></i>
            Select from the list as you type
          </label>

          <input *ngIf="isGoogleReady" class="col-12 field field-google" type="text" placeholder="Your Location*"
            id="Location" ngx-google-places-autocomplete [options]='options'
            (onAddressChange)="handleAddressChange($event)" formControlName="addressLine1" #placesRef="ngx-places">

            <p class="error mt1 animated shake"
              *ngIf="isErrorsVisible && form['controls']['address']['controls']['placeId'].value === null">
              Address is required
            </p>
        </div>

        <div class="field-wrapper">
          <select formControlName="sector" class="col-12 field">
            <option [value]="null" disabled="disabled">Select Sector*</option>
            <option [value]="sector" *ngFor="let sector of jobOptions.sectors">{{ sector }}</option>
          </select>

          <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="sector" #myError="ngxErrors">
            <div class="animated shake" ngxError="required">Sector is required</div>
          </div>
        </div>

        <div class="field-wrapper">
          <select formControlName="employmentType" class="col-12 field">
            <option [value]="null" disabled="true">Select Employment Type*</option>
            <option [value]="type" *ngFor="let type of jobOptions.employmentTypes">{{ type }}</option>
          </select>

          <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="employmentType" #myError="ngxErrors">
            <div class="animated shake" ngxError="required">Employment Type is required</div>
          </div>
        </div>

        <div class="field-wrapper">
          <select formControlName="payType" class="col-12 field">
            <option [value]="null" disabled="true">Select Pay Type*</option>
            <option [value]="type" *ngFor="let type of jobOptions.payTypes">{{ type }}</option>
          </select>

          <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="payType" #myError="ngxErrors">
            <div class="animated shake" ngxError="required">Pay Type is required</div>
          </div>
        </div>

        <div class="field-wrapper">
          <input type="number" min="0" placeholder="(£) Pay Amount*" formControlName="pay" class="col-12 field">

          <div *ngIf="isErrorsVisible" class="errors mt1 mb2" ngxErrors="pay" #myError="ngxErrors">
            <div class="animated shake" ngxError="required">Pay is required</div>
          </div>
        </div>

        <div class="field-wrapper mt1 mb2">
          <label for="Tags">
            <i class="fas fa-info-circle"></i>
            Add your search tags below or leave blank for defaults
          </label>
          <tag-input
            [formTags]="formTags"
            (updateFormTags)="setFormTags($event)">
          </tag-input>
        </div>

        <!-- <div class="field-wrapper mb3" *ngIf="!isUpdateJob && featuredCreditTotal > 0">
          <label class="checkbox-wrapper">
            <strong>Featured Job:</strong> want your job listed first?
            <input type="checkbox" formControlName="isFeaturedJobSelected">
            <span class="checkmark"></span>
          </label>
        </div> -->

        <div class="button-wrapper flex col-12 justify-between">
          <button *ngIf="!isUpdateJob" type="button" (click)="submitConfirmIsVisible = true" class="col-12 btn btn-primary mr2" prevent-double-submit>Create Job</button>
          <button *ngIf="isUpdateJob && job.cancelCounter !== 1" type="button" (click)="updateConfirmIsVisible = true" class="col-12 btn btn-primary mr2" prevent-double-submit>Update Job</button>
          <button *ngIf="!isUpdateJob" (click)="reset()" type="button" class="col-12 btn btn__invert" prevent-double-submit>Reset</button>
          <button *ngIf="isUpdateJob && job.cancelCounter !== 1" (click)="cancelConfirmIsVisible = true" type="button" class="col-12 btn btn-quaternary ml2" prevent-double-submit>Cancel Job</button>
        </div>
      </div>
    </form>
  </section>

  <section class="tip-column col-3 ml3">
    <div class="box box_medium animated fadeIn">
      <h2>Tips</h2>
      <p>
        Please fill all fields in order to create a job.<br><br>
        Any red messages visible will be indicating that you've filled the field's incorrectly.<br><br>
        Once all fields are complete, you can click the create button to post the job.<br><br>
        In addition, once a job is created it will be active and appear to applicants.
      </p>
    </div>
    <div *ngIf="!isFreeTier" class="box box_medium">
      <div class="advert animated pulse delay-4s" [routerLink]="['/payment']"></div>
    </div>
  </section>
</section>

<confirm-notification
  *ngIf="submitConfirmIsVisible"
  (confirm)="createJob()"
  (cancel)="submitConfirmIsVisible = false"
  [message]="confirmMessage"></confirm-notification>

<confirm-notification
  *ngIf="cancelConfirmIsVisible"
  (confirm)="cancelJob()"
  (cancel)="cancelConfirmIsVisible = false"
  [message]="cancelMessage"></confirm-notification>

<confirm-notification
  *ngIf="updateConfirmIsVisible"
  (confirm)="updateJob()"
  (cancel)="updateConfirmIsVisible = false"
  [message]="updateMessage"></confirm-notification>
