@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

$featured: '../../../../assets/adverts/featured1.jpg';

:host {
  h2 {
    @extend .mb2;
  }

  .col {
    @extend .ml3, .mb4;
    height: 80vh;

    &:first-child {
      @extend .m0;
    }
  }

  .box {
    @extend .flex, .flex-column, .mb2, .col-12;

    &__small {
      min-height: 100px;
    }
    &__medium {
      min-height: 150px;
    }
  }

  .field-wrapper {
    @extend .col-12;
  }

  .advert {
    background: url($featured) no-repeat;
    background-size: 100%;
    min-height: 500px;

    &:hover {
      cursor: pointer;
    }
  }

  .form-column {
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }

    .button-wrapper {
      @media screen and (max-width: $break-sm) {
        flex-direction: column;
      }

      .btn {
        @media screen and (max-width: $break-sm) {
          margin: 0 0 15px 0;
          padding: 15px 0px 15px 0px;
        }
      }
    }
  }

  .tip-column {
    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }

  textarea {
    height: 300px;
  }
}
