<section *ngIf="isVisible" (click)="isVisible = false" class="notification notification--top fixed col-3 animated slideInDown">
  <div class="notification__banner"
  [ngClass]="{ 'notification__banner--success': title === 'Success', 'notification__banner--error': title === 'Error' }">
    <h3 class="white mb1">{{ title }}</h3>
    <p class="m0">{{ message }}</p>
  </div>
</section>
