<section class="confirm-wrapper animated bounce delay-4s">
  <div class="confirm-content">
    <div>
      <h3 class="mb3">Are you sure?</h3>
      <p [innerHTML]="message"></p>
      <div class="btn-wrapper mt4">
        <a class="btn btn-secondary pl4 pr4 mr2" (click)="confirmAction()" title="Yes" prevent-double-submit>Yes</a>
        <a class="btn btn-primary pl3 pr3" (click)="cancelAction()" title="Cancel" prevent-double-submit>Cancel</a>
      </div>
    </div>
  </div>
</section>

