@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  overflow: hidden;
  display: block;

  .wrapper {
    margin-bottom: 60px;
    background: linear-gradient(to right, $primary-color, #0000 150%) top left/150%, url($hero-leisure2) top left/100% no-repeat;

    &.recruiter {
      background: linear-gradient(to right, $primary-color, #0000 150%) top left/100%, url($hero-leisure6) top left/100% no-repeat;

      @media screen and (max-width: $break-md) {
        background: $primary-color;
      }

      @media screen and (max-width: $break-sm) {
        background: $primary-color;
      }
    }

    @media screen and (max-width: $break-lg) {
      background-size: 110% !important;
      background-position: top left !important;
    }

    @media screen and (max-width: $break-md) {
      background: $primary-color;
    }

    @media screen and (max-width: $break-sm) {
      background: $primary-color;
    }

    &.chef {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-chef) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
    &.bars {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-bar) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
    &.hospitality {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-hospitality) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
    &.hotels {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-hotels) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
    &.leisure {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-leisure1-high) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
    &.thepoolcover {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-poolcover) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
    &.retail {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-retail) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
    &.sales {
      background: linear-gradient(to right, $primary-color, #0000 150%), url($hero-sales) no-repeat;
      background-size: 100%;

      @media screen and (max-width: $break-sm) {
        background: $secondary-color;
      }
    }
  }
}
