<footer class="footer-wrapper">
  <div class="oval">
    <svg height="140" width="100%">
      <ellipse cx="50%" cy="170" rx="60%" ry="100" style="fill:#2c3e50"></ellipse>
    </svg>
  </div>

  <nav class="links-wrapper pt3">
    <ul class="flex flex-column list-reset margin-right">
      <li class="inline-block">
        <p><strong>Our Company <i class="fas fa-heart ml2"></i></strong></p>
      </li>
      <li class="inline-block">
        <a [routerLink]="['/terms']" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
      </li>
      <li class="inline-block">
        <a [routerLink]="['/privacy']" title="Privacy Policy">Privacy Policy</a>
      </li>
      <li class="inline-block">
        <a [routerLink]="['/cookie']" title="Cookie Policy">Cookie Policy</a>
      </li>
    </ul>
    <ul class="flex flex-column list-reset margin-right">
      <li class="inline-block">
        <p><strong>Help Centre</strong></p>
      </li>
      <li class="inline-block">
        <a [routerLink]="['/contact']" title="Contact Us">Contact Us</a>
      </li>
    </ul>
    <ul class="flex flex-column list-reset margin-right">
      <li class="inline-block">
        <p><strong>Partners</strong></p>
      </li>
      <li class="inline-block">
        <a target="_blank" href="https://uk.jobsora.com" title="Jobsora">Jobsora</a>
      </li>
      <li class="inline-block">
        <a target="_blank" href="https://uk.jooble.org/" title="Jooble">Jooble</a>
      </li>
      <li class="inline-block">
        <a target="_blank" href="https://www.coursepro.co.uk" title="Course Pro">Course Pro</a>
      </li>
    </ul>
    <ul class="flex flex-column list-reset margin-right">
      <li class="inline-block">
        <p><strong>News</strong></p>
      </li>
      <li class="inline-block">
        <a [routerLink]="['/blog']" title="Blog">Blog</a>
      </li>
    </ul>
  </nav>

  <nav class="social-wrapper justify-end pt3 pb3">
    <ul class="flex list-reset">
      <li class="inline-block ml3">
        <a itemprop="sameAs" href="https://www.facebook.com/BeHiredJobs" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="inline-block ml3">
        <a itemprop="sameAs" href="https://twitter.com/tweetbehired" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="inline-block ml3">
        <a itemprop="sameAs" href="https://www.instagram.com/behiredjobs" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="inline-block ml3 no-right-margin">
        <a itemprop="sameAs" href="https://www.linkedin.com/company/behiredjobs" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </li>
    </ul>
  </nav>
</footer>
