@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  .select-credit,
  button {
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  form {
    @extend .flex, .flex-column;
  }
}
