<h4 class="mb3">Select Credits</h4>

<p>Select the relevant number of credits in the select lists.</p>
<p>
  To create a job one job credit must be purchased, which costs only £99.<br>
  In addition you can buy a featured job credit for only £25.
</p>

<form class="mt3" [formGroup]="form" autocomplete="false" (ngSubmit)="onSubmit()">

  <label for="JobCredit">How many job credits?</label>
  <p><i class="fas fa-info-circle"></i> Job credits allow you to post jobs to the job board</p>

  <select id="JobCredit" formControlName="credit" class="select-credit col-3 field mb3">
    <option [value]="null" disabled="true">Select credit</option>
    <option [value]="credit" *ngFor="let credit of credits">{{ credit }}</option>
  </select>

  <label for="JobFeatured">How many featured job credits?</label>
  <p for="Location"><i class="fas fa-info-circle"></i> Featured job credits position your job at the top of the job board</p>

  <select id="JobFeatured" formControlName="featured" class="select-credit col-3 field">
    <option [value]="null" disabled="true">Select credit</option>
    <option [value]="featured" *ngFor="let featured of featuredCredits">{{ featured }}</option>
  </select>

  <div class="col-12 mt3">
    <button type="submit"
    [disabled]="(form.value.credit === '0' && form.value.featured === '0') || (form.value.credit === null && form.value.featured === null)"
    class="btn btn-primary col-3 pl4 pr4 animated pulse" prevent-double-submit>Add to basket</button>
  </div>
</form>

<p class="flex mt2">
  Visit our <a class="link ml1 mr1" title="Payment Terms" [routerLink]="['/payment-terms']" target="_blank">Payment Terms</a> for more information
</p>
