<h1 class="mb2">Simple, transparent pricing</h1>
<p>Create an account with Behired and we will get your job noticed!</p>
<p>If you would like a demonstration of the Behired platform then email <a href="mailto:demo@behired.co.uk" title="demo@behired.co.uk">demo@behired.co.uk</a> or request a call back.</p>

<p>
  Got a question? <a title="Message us" [routerLink]="['/contact']">Message us</a>
  and we'll contact you as soon as possible or read our <a class="link" title="Payment Terms" [routerLink]="['/payment-terms']" target="_blank">Payment Terms</a>
  for more information.
</p>

<section class="pricing-wrapper">

  <div class="pricing-column">
    <h2 class="mb2">PAY MONTHLY</h2>

    <p class="price">£99 <span>/ per post</span></p>

    <ul>
      <li>
        <p><i class="fas fa-check"></i>Pay at end of month</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Pay only for what you use</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Intelligent social network integration</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Unlimited shares & clicks</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Job expires after 60 days</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Invoiced monthly</p>
      </li>
    </ul>

    <a *ngIf="isEmployerLoggedIn" class="btn btn-primary" [routerLink]="['/payment']" title="Buy Now">Buy Now</a>
    <a *ngIf="!isEmployerLoggedIn" class="btn btn-primary" [routerLink]="['/signin/buy']" title="Buy Now">Buy Now</a>
  </div>

  <div class="pricing-column pricing-column--blue animated delay-4s pulse">
    <p class="popular">Most Popular</p>

    <h2 class="mb2">PAY AS YOU GO</h2>

    <p class="price">£99 <span class="white">/ per post</span></p>

    <ul>
      <li>
        <p><i class="fas fa-check"></i>Pay only for what you use</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Intelligent social network integration</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Unlimited shares & clicks</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Job expires after 60 days</p>
      </li>
      <li>
        <p><i class="fas fa-check"></i>Sign up & create a job posting</p>
      </li>
    </ul>

    <a *ngIf="isEmployerLoggedIn" class="btn btn__invert" [routerLink]="['/payment']" title="Buy Now">Buy Now</a>
    <a *ngIf="!isEmployerLoggedIn" class="btn btn__invert" [routerLink]="['/signin/buy']" title="Buy Now">Buy Now</a>
  </div>

  <div class="pricing-column pricing-column">
      <h2 class="mb2">ENTERPRISE</h2>

      <ul>
        <li>
          <p><i class="fas fa-check"></i>Account management</p>
        </li>
        <li>
          <p><i class="fas fa-check"></i>White label options</p>
        </li>
        <li>
          <p><i class="fas fa-check"></i>API setup</p>
        </li>
        <li>
          <p><i class="fas fa-check"></i>Unlimited usage</p>
        </li>
        <li>
          <p><i class="fas fa-check"></i>Intelligent social network integration</p>
        </li>
        <li>
          <p><i class="fas fa-check"></i>Monthly billing</p>
        </li>
        <li>
          <p><i class="fas fa-check"></i>Sign up & contact us for unlimited credit</p>
        </li>
      </ul>

      <a class="btn btn-primary" title="Get in Touch" [routerLink]="['/contact']">Get in Touch</a>
    </div>
</section>
