@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  min-height: 1000px;
  text-align: center;

  @media screen and (max-width: $break-md) {
    min-height: auto;
  }

  .pricing-wrapper {
    @extend .flex, .justify-center, .mt4;
    align-items: center;

    @media screen and (max-width: $break-md) {
      flex-direction: column;
    }
  }

  .pricing-column {
    @extend .flex, .flex-column, .col-4, .justify-between;
    align-items: center;
    background: $white-color;
    box-shadow: 0 5px 14px 0 rgba(80,94,120,.08);
    padding: 40px 25px;
    height: 450px;
    border-radius: 12px;
    margin-right: 5px;

    h2, p {
      color: $primary-color;
    }

    h2 {
      margin-top: 25px;
    }

    @media screen and (max-width: $break-md) {
      margin-right: 0;
      margin-bottom: 25px;
      width: 100%;
    }

    &--blue {
      @extend .relative;
      background: $primary-color;
      height: 450px;

      h2, p {
        color: $white-color;
      }
    }

    p {
      font-size: 16px;

      &.popular {
        @extend .absolute;
        right: 15px;
        top: 18px;
        font-size: 14px;
        background-color: $white-color;
        color: $primary-color;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
      }

      &.price {
        font-size: 36px;
        font-weight: bold;

        span {
          font-size: 12px;
        }
      }
    }

    h2 {
      font-size: 22px;
      padding-bottom: 15px;
    }

    i {
      @extend .mr2;
    }

    a {
      @extend .mt2;
      width: 300px;

      @media screen and (max-width: $break-md) {
        width: 80%;
      }
    }
  }

  ul {
    @extend .flex, .flex-column, .mt2, .mb2;
  }
}
