@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  h2 {
    @extend .mb2;
  }
  .col {
    @extend .ml3, .mb4;
    height: 80vh;

    &:first-child {
      @extend .m0;
    }
  }

  .box {
    @extend .flex, .flex-column, .mb2, .col-12;

    &__small {
      min-height: 100px;
    }
    &__medium {
      min-height: 150px;
    }
  }

  .logo {
    width: 100%;
  }

  .field {
    @extend .mb2;
  }

  .loading-img {
    @extend .pt4, .pb4, .mt2, .mb2;
  }

  .remove-logo {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
    z-index: 10;
    color: $secondary-color;
  }

  .logo-column,
  .tip-column {
    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }

  .form-column {
    @media screen and (max-width: $break-sm) {
      margin: 0;
      width: 100%;
    }
  }
}
