<form-dialog [isVisible]="isUpdated" [title]="'Success'"></form-dialog>

<progress-bar *ngIf="isViewReady" [profile]="profile" [profileType]="'employer'"></progress-bar>
<welcome-notification></welcome-notification>

<section class="flex col-12 animated fadeIn" *ngIf="isViewReady">
  <section class="logo-column col col-3">
    <div class="box box_medium">
      <p *ngIf="isFileUploadError" class="error animated shake">Error: File must be a png or jpg and not exceed 8mb</p>

      <div class="animated fadeIn" *ngIf="logo">
        <a class="remove-logo" title="Remove" (click)="deleteFile()">
          <i class="fas fa-times"></i>
        </a>
        <img [src]="logo" alt="Logo">
      </div>

      <div *ngIf="!logo && !uploadingLogo" class="dropzone" dropZone
         (dropped)="uploadFile($event)"
         (hovered)="toggleHover($event)"
         [class.hovering]="isHovering">
        <div class="file-wrapper">
          <input type="file" id="files" class="hidden" (change)="uploadFile($event)">
          <label for="files">Drop or click to upload a logo</label>
        </div>
      </div>

      <img class="loading-img" *ngIf="uploadingLogo" title="Loading" src="./assets/icons/loading.svg">
    </div>
    <div class="box box_medium" *ngIf="profile">
      <map-view [job]="profile" [zoom]="10"></map-view>
    </div>
  </section>

  <section class="form-column col col-6">
    <form class="flex flex-wrap col-12 pb3" [formGroup]="form" (ngSubmit)="submit()">
      <input type="text" placeholder="Company Name*" formControlName="companyName" class="col-12 field">
      <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="companyName" #myError="ngxErrors">
        <div class="animated shake" ngxError="required">Company name is required</div>
      </div>

      <input type="text" placeholder="Contact Name*" formControlName="contactName" class="col-12 field">
      <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="contactName" #myError="ngxErrors">
        <div class="animated shake" ngxError="required">Contact name is required</div>
      </div>

      <div formGroupName="address" class="col-12 mb1">
        <label for="Location"><i class="fas fa-info-circle"></i> Select from the list as you type</label>

        <input *ngIf="isGoogleReady" class="col-12 field field-google" type="text" placeholder="Your Location*"
          id="Location" ngx-google-places-autocomplete [options]='options'
          (onAddressChange)="handleAddressChange($event)" formControlName="addressLine1" #placesRef="ngx-places">

        <p class="error mb1 animated shake"
          *ngIf="isErrorsVisible && form['controls']['address']['controls']['placeId'].value === null">
          Address is required
        </p>
      </div>

      <input type="tel" pattern="[0-9]*" placeholder="Phone" formControlName="phoneNumber" class="col-12 field">
      <div *ngIf="isErrorsVisible"  class="errors mb2" ngxErrors="phoneNumber" #myError="ngxErrors">
        <div class="animated shake" ngxError="pattern">Please enter a valid phone number</div>
      </div>

      <input type="text" placeholder="Website" formControlName="website" class="col-12 field">
      <input type="text" placeholder="LinkedIn" formControlName="linkedIn" class="col-12 field">
      <textarea class="col-12 field field-area" placeholder="About Company" formControlName="about"></textarea>

      <button type="submit" class="col-12 btn btn-primary" prevent-double-submit>Update</button>
    </form>
  </section>

  <section class="tip-column col col-3">
    <div class="box">
      <h2>Tips</h2>
      <p>
        Company Name, Contact Name and Post Code are the only compulsory fields to unlock the ability to create a job.<br><br>
        Once those fields are complete, click the update button and the link "create a job" in the left menu will be unlocked.<br><br>
        All other fields are optional but will help applicants understand your company.
        In addition, you can upload a company logo to help promote the company to future applicants.<br><br>
        The profile image must be png or jpg with a maximum file size of 8mb.
      </p>
    </div>
  </section>
</section>
