@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  i {
    font-size: 200px;
    color: $primary-color;
    opacity: .1;
    top: 260px;
    position: absolute;
    margin-left: 32%;
  }
}
