<section class="min-height">
  <h1 class="mb3">Oops 404</h1>

  <h3 class="mb2">
    Sorry the page you've tried cannot be found.
  </h3>
  <p>
    You may have typed the address incorrectly or you may have used an outdated link.<br>
    If you found a broken link from another site or from our site, please <a [routerLink]="['/contact']"  title="contact us">contact us</a>.
  </p>

  <i class="fas fa-robot"></i>
</section>
