<h1 class="mb3">FAQ</h1>

<p>
  Lorem ipsum dolor sit amet, id eum veri corpora complectitur, exerci albucius elaboraret te vel. Te sea facete volutpat periculis, omnes patrioque aliquando per ex. No ceteros insolens mediocrem mei. Eu debitis suscipit delicatissimi nec. Duo ea sonet populo, sonet integre te eum. Vis alterum salutandi interpretaris eu.
</p>

<h2 class="secondary">Lorem ipsum dolor sit amet</h2>

<p>
  Lorem ipsum dolor sit amet, id eum veri corpora complectitur, exerci albucius elaboraret te vel. Te sea facete volutpat periculis, omnes patrioque aliquando per ex. No ceteros insolens mediocrem mei. Eu debitis suscipit delicatissimi nec. Duo ea sonet populo, sonet integre te eum. Vis alterum salutandi interpretaris eu.
</p>

<h2 class="secondary">Lorem ipsum dolor sit amet</h2>

<p>
  Lorem ipsum dolor sit amet, id eum veri corpora complectitur, exerci albucius elaboraret te vel. Te sea facete volutpat periculis, omnes patrioque aliquando per ex. No ceteros insolens mediocrem mei. Eu debitis suscipit delicatissimi nec. Duo ea sonet populo, sonet integre te eum. Vis alterum salutandi interpretaris
  Lorem ipsum dolor sit amet, id eum veri corpora complectitur, exerci albucius elaboraret te vel.
</p>

<ul class="stack">
  <li>
    <p>Lorem ipsum dolor sit amet, id eum veri corpora complectitur.</p>
  </li>
  <li>
    <p>Lorem ipsum dolor sit amet, id eum veri corpora complectitur.</p>
  </li>
  <li>
    <p>Lorem ipsum dolor sit amet, id eum veri corpora complectitur.</p>
  </li>
</ul>

<ol class="stack">
  <li>
    <p>Lorem ipsum dolor sit amet, id eum veri corpora complectitur.</p>
  </li>
  <li>
    <p>Lorem ipsum dolor sit amet, id eum veri corpora complectitur.</p>
  </li>
  <li>
    <p>Lorem ipsum dolor sit amet, id eum veri corpora complectitur.</p>
  </li>
</ol>

<h2 class="secondary">Lorem ipsum dolor sit amet</h2>

<p>
  Lorem ipsum dolor sit amet, id eum veri corpora complectitur, exerci albucius elaboraret te vel. Te sea facete volutpat periculis, omnes patrioque aliquando per ex. No ceteros insolens mediocrem mei. Eu debitis suscipit delicatissimi nec. Duo ea sonet populo, sonet integre te eum. Vis alterum salutandi interpretaris eu.
</p>
