<mobile-internal-header></mobile-internal-header>

<section class="wrapper">
  <side-nav (setApplicant)="setApplicant($event)" (setLocked)="setLocked($event)"></side-nav>

  <section class="content">
    <header-internal></header-internal>
    <router-outlet></router-outlet>
  </section>
</section>
