@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  .wrapper {
    @extend .flex;
    position: absolute;
    width: 100%;
  }

  .content {
    @extend .col-10, .ml3, .mr3, .mb3, .mt2, .p0;
  }

  side-nav {
    display: block;
    min-width: 227px;

    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }

  mobile-internal-footer,
  mobile-internal-header {
    display: none;

    @media screen and (max-width: $break-sm) {
      display: block;
    }
  }
}
