<section *ngIf="isVisible"
  (click)="isVisible = false"
  class="notification relative col-12 animated fadeIn">
  <div class="notification__banner notification__banner--network">
    <div class="text-content">
      <p class="m0 mb1">
        Your network connectivity is slow, this may harm your experience.
      </p>
      <p class="m0">
        Connect to a stronger WIFI connection or use 4G for faster Internet speed.
      </p>
    </div>
  </div>
</section>
