<section class="review" *ngIf="review">
  <header>
    <h1>Review {{ review.title }}</h1>
    <img class="logo" [src]="review.logo" [alt]="review.title">

    <div class="stats">
      <ul>
        <li>
          <p>Reviews</p>
          <a>{{ review.reviews?.length }}</a>
        </li>
        <li>
          <p>Jobs</p>
          <a>0</a>
        </li>
        <li>
          <p>Votes</p>
          <a>{{ numberOfVotes }}</a>
        </li>
        <li>
          <p>Photos</p>
          <a>0</a>
        </li>
      </ul>

      <div class="btn-wrapper">
        <a title="Add a Review" class="btn btn-secondary" (click)="isReviewModalVisible = true">Add a Review</a>
        <a title="Add Ratings" class="btn btn-primary" (click)="isScoreModalVisible = true">Add Ratings</a>
      </div>
    </div>
  </header>

  <section class="wrapper">
    <div class="content">
      <section>
        <h3>About</h3>
        <p>{{ review.about }}</p>
      </section>

      <section>
        <h3>Ratings</h3>

        <div class="ratings mb2">
          <p class="m0">Overall</p>
          <ratings-switch [rating]="totalScore"></ratings-switch>
        </div>

        <div class="group">
          <div>
            <p class="m0">Service</p>
            <div class="bar">
              <div class="progress" [style.width]="totalServiceScore + '%'"></div>
            </div>
          </div>

          <div>
            <p class="m0">Quality</p>
            <div class="bar">
              <div class="progress" [style.width]="totalQualityScore + '%'"></div>
            </div>
          </div>
        </div>

        <div class="group">
          <div>
            <p class="m0">Recommend to a Friend</p>
            <div class="bar">
              <div class="progress" [style.width]="totalRecommendToAFriend + '%'"></div>
            </div>
          </div>

          <div>
            <p class="m0">Cleanliness</p>
            <div class="bar">
              <div class="progress" [style.width]="totalCleanliness + '%'"></div>
            </div>
          </div>
        </div>

        <div class="group">
          <div>
            <p class="m0">Safety</p>
            <div class="bar">
              <div class="progress" [style.width]="totalSafety + '%'"></div>
            </div>
          </div>

          <div>
            <p class="m0">Work Experience</p>
            <div class="bar">
              <div class="progress" [style.width]="totalWorkExperience + '%'"></div>
            </div>
          </div>
        </div>

        <div>
          <p class="m0">Communication</p>
          <div class="bar">
            <div class="progress" [style.width]="totalCommunicationScore + '%'"></div>
          </div>
        </div>

      </section>

      <section>
        <h3>Reviews</h3>

        <ul class="reviews">
          <li *ngFor="let item of review.reviews.slice().reverse()">
            <div class="date-wrapper">
              <p>Anonymous User</p>
              <p *ngIf="item.datePosted">Date: {{ item?.datePosted }}</p>
            </div>

            <ratings-switch [rating]="item.score"></ratings-switch>

            <h4>{{ item.title }}</h4>
            <p>
              {{ item.review }}
            </p>
          </li>
        </ul>
        <p class="no-data" *ngIf="review.reviews.length === 0">No Reviews</p>
      </section>
    </div>

    <div class="info">
      <section>
        <h3>Contacts</h3>

        <p>Website:
          <a title="{{ review.website }}" target="_blank" href="{{ review.website }}">{{ review.website }}</a>
        </p>
        <p>Job Board:
          <a *ngIf="review.jobBoard !== 'Unavailable'" [routerLink]="[ '/jobs', review.jobBoard ]" title="@{{ review.title }}">
            @{{ review.title }}
          </a>
          <span *ngIf="review.jobBoard === 'Unavailable'">{{ review.jobBoard }}</span>
        </p>
      </section>

      <section>
        <h3>Jobs You May Like</h3>

        <ul>
          <li *ngFor="let job of listOfJobs | slice:0:3">
            <a [routerLink]="[ '/job', job.id ]" [title]="job.name">
              {{ job.name }}
              <br>
              {{ job.address.addressLine1 }}
            </a>
          </li>
        </ul>
      </section>

      <section>
        <h3>Blogs You May Like</h3>

        <ul>
          <li *ngFor="let blog of listOfBlogs | slice:0:3">
            <a (click)="selectedBlog(blog.title)" [title]="blog.title">
              {{ blog.title }}
            </a>
          </li>
        </ul>
      </section>
    </div>
  </section>
</section>

<score-modal *ngIf="isScoreModalVisible" (cancel)="isScoreModalVisible = false" (confirm)="updateReviewById($event)">
</score-modal>

<review-modal *ngIf="isReviewModalVisible" (cancel)="isReviewModalVisible = false" (confirm)="updateReviewById($event)">
</review-modal>

<social-login (confirm)="isLoginModalVisible = false" *ngIf="isLoginModalVisible"></social-login>
