@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  @extend .flex;
  min-height: 800px;

  .review {
    @extend .flex, .flex-column, .col-12;
    justify-content: center;
    align-items: center;
  }

  header {
    @extend .col-8, .mb4;
    min-height: 100px;

    @media only screen and (max-width: $break-md) {
      width: 100%;
    }

    h1 {
      @extend .mb2;
      font-size: 26px;
    }

    .btn-wrapper {
      @media only screen and (max-width: $break-md) {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 25px;
      }

      a {
        @media only screen and (max-width: $break-md) {
          display: flex;
          margin-bottom: 10px;
          margin-left: 0;
          justify-content: center;
          margin-right: 15px;
        }
      }
    }

    .stats {
      @extend .flex, .justify-between;
      align-items: flex-end;

      a {
        @extend .ml2;
      }
    }

    .logo {
      @extend .mt2, .mb2;
      width: 100px;
    }

    ul {
      @media only screen and (max-width: $break-md) {
        display: none;
      }

      li {
        @extend .flex, .flex-column, .mr3, .p1;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        border-bottom: 3px solid $secondary-color;
        border-radius: 3px;

        p, a {
          @extend .p0, .m0;
        }

        a {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }

  .wrapper {
    @extend .col-8, .flex;
    justify-content: space-between;

    @media only screen and (max-width: $break-md) {
      flex-direction: column;
      width: 100%;
    }

    .content {
      @extend .col-8;

      @media only screen and (max-width: $break-md) {
        width: 100%;
      }

      section {
        @extend .p2, .mb3;
        min-height: 100px;
        box-shadow: 1px 2px 4px $grey-color-3;

        h3 {
          @extend .mb1;
        }
      }

      .group {
        @extend .flex, .justify-between;

        @media only screen and (max-width: $break-md) {
          flex-direction: column;
          width: 100%;
        }
      }

      .ratings {
        &.small i {
          font-size: 12px;
        }

        i {
          font-size: 22px;
          color: $primary-color;
        }
      }

      .no-data {
        @extend .flex, .pt4, .pb4, .justify-center;
      }

      .reviews {
        @extend .flex, .flex-column;

        .date-wrapper {
          @extend .flex, .justify-between;

          p {
            color: $grey-color-2;
            font-size: 12px;
          }
        }

        li {
          @extend .flex, .flex-column, .mb2, .pt2, .pb2;
          border-top: 1px solid $grey-color-3;

          &:first-child {
            border: 0;
          }

          h4, p {
            @extend .p0, .m0;
          }
        }
      }

      .bar {
        @extend .mb1;
        background-color: $grey-color-3;
        width: 200px;

        @media only screen and (max-width: $break-md) {
          width: 100%;
        }

        p {
          @extend .m0;
          font-size: 12px;
        }

        .progress {
          height: 10px;
          background: $secondary-color;
          border-radius: 3px;
        }
      }

      .photos {
        li {
          @extend .mr2, .mb2;
          background-color: $grey-color-3;
          height: 100px;
          width: 100px;
        }
      }
    }

    .info {
      @extend .col-4, .ml3;
      min-height: 300px;

      @media only screen and (max-width: $break-md) {
        margin-left: 0;
        width: 100%;
      }

      section {
        @extend .p2, .mb3;
        min-height: 200px;
        box-shadow: 1px 2px 4px $grey-color-3;

        h3 {
          @extend .mb2;
        }

        p a {
          color: $secondary-color;
        }

        ul {
          @extend .flex, .flex-column;

          li {
            @extend .mb2;

            a {
              color: $secondary-color;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
