<form-dialog [isVisible]="isUpdated" [title]="'Success'" [message]="'Password Reset'"></form-dialog>

<section class="flex col-12 animated fadeIn">
  <section class="form-column col col-8">
    <h2>Password Reset</h2>

    <form class="flex flex-wrap col-6 mt3" [formGroup]="form" autocomplete="false">
      <input type="text" placeholder="Password*" formControlName="password" class="col-12 field">

      <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="password" #myError="ngxErrors">
        <div class="animated shake" ngxError="required" when="dirty">Password is required</div>
        <div class="animated shake" [ngxError]="['minlength', 'maxlength']" when="dirty">Min length is 8 and max length is 15</div>
        <div class="animated shake" ngxError="pattern" when="dirty">
          Must contain at least 1 lowercase character & 1 number
        </div>
      </div>

      <input type="text" placeholder="Confirm Password*" formControlName="confirmPassword" class="col-12 field mt2">

      <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="confirmPassword" #myError="ngxErrors">
        <div class="animated shake" ngxError="required" when="dirty">Confirm Password is required</div>
        <div class="animated shake" [ngxError]="['minlength', 'maxlength']" when="dirty">Min length is 8 and max length is 15</div>
        <div class="animated shake" ngxError="pattern" when="dirty">
          Must contain at least 1 lowercase character & 1 number
        </div>
      </div>

      <button type="submit" class="col-12 btn btn-primary mt3" (click)="submit()" prevent-double-submit>Change Password</button>
    </form>
  </section>
</section>
