<section class="min-height">
  <div class="animated fadeIn delay-2s">
    <h1 class="white mb1">Welcome to Behired courses & training</h1>
    <h3 class="secondary mb2">Coming Soon...</h3>

    <p class="white">
        Behired courses & training can help you find the perfect course or training programme.
    </p>
    <p class="white">
      We're partnering with some leading providers in the leisure industry to ensure you can find the training and qualifications.
    </p>
    <p class="white">
      If your interested in advertising your course with us for free please <a class="white" [routerLink]="['/contact']" title="Contact us">Contact us</a>.
    </p>
  </div>
</section>
