@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  @extend .col-12, .flex, .flex-column, .justify-between;
  height: 100%;

  .map {
    @extend .mr2;
    font-weight: 700;
    color: $secondary-color;
    justify-content: flex-end;
    margin: 35px 30px 0 0;
  }

  .date {
    font-style: italic;
    text-align: right;
    width: 114px;
  }
}
