<div class="text-wrapper animated fadeIn">
  <div>
    <map-view *ngIf="job.address && job.isExpand" [job]="job"></map-view>

    <p (click)="trackJob(job)" class="flex justify-between" *ngIf="job.sector">
      <span></span>
      <!-- <span class="date">{{ job.datePosted.toDate() | date: 'dd-MM-yyyy' }}</span> -->
    </p>

    <h3 (click)="trackJob(job)">
      <span [innerHtml]="job.name | truncate : 65 : '...'"></span>
      <span>
        <span *ngIf="!job.pay.value">{{ job.pay }}</span>
        <span *ngIf="job.pay.value">
          {{ job.pay.currency }}{{ job.pay.value }}
        </span>
      </span>
    </h3>

    <p *ngIf="!job.isExpand" >
      <span *ngIf="!job.isExpand" [innerHtml]="job.description | truncate : 250 : '...'"></span>
      <span *ngIf="job.isExpand" [innerHtml]="job.description"></span>
    </p>
  </div>
</div>

<div class="btn-wrapper">
  <a class="btn btn-secondary" title="Read More" (click)="trackJob(job)">Read More*</a>
  <a *ngIf="job.address && job.address.latitude" class="map flex ml2" title="View map" (click)="job.isExpand = !job.isExpand">View map</a>
</div>
