<h1 class="white center mb3">Competition Prize Draw</h1>
<p class="white" *ngIf="!isApplySuccess">
  Please input your email to enter the prize draw, don't forget to share!
</p>

<p *ngIf="isApplySuccess" class="white">
  Thank you for applying. <br>
  We will be in touch if your the lucky winner!
</p>

<form class="col-12" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="email" placeholder="Email*" formControlName="email" class="col-12 mb1 field">

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="email" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="email" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="pattern" when="dirty">Must be of type email</div>
  </div>

  <button type="submit" class="btn btn-secondary col-12 animated pulse" prevent-double-submit>Enter Draw</button>
</form>
