@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  .wrapper {
    @extend .flex, .justify-center;
  }

  .content {
    @extend .sm-col, .sm-col-11, .m2, .mt4, .mb4;

    @media only screen and (max-width: $break-sm) {
      width: 95%;
    }
  }
}
