<header-external>
  <img src="./assets/logos/logo.png" alt="Logo">
</header-external>

<section class="wrapper">
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</section>

<footer-external></footer-external>
