<div class="map-wrapper {{ height }}">
  <agm-map
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="zoomControl"
    [scrollwheel]="scrollwheel"
    [streetViewControl]="false"
    [latitude]="job.address.latitude"
    [longitude]="job.address.longitude">
    <agm-marker
      [iconUrl]="icon"
      [latitude]="job.address.latitude"
      [longitude]="job.address.longitude">
    </agm-marker>
    <agm-circle
      [latitude]="job.address.latitude"
      [longitude]="job.address.longitude"
      [radius]="5000"
      [fillColor]="'#2ca3af'"
      [circleDraggable]="false"
      [editable]="false">
    </agm-circle>
  </agm-map>
</div>
