<form-dialog [isVisible]="isAppliedSuccess" [title]="'Success'" [message]="applyMessage"></form-dialog>
<form-dialog [isVisible]="isAppliedFailed" [title]="'Error'" [message]="applyMessage"></form-dialog>

<status-notification *ngIf="isViewReady && !selectedJob.isActive"></status-notification>

<ol *ngIf="isViewReady" class="hide" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="https://behired.co.uk">
        <span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  ›
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="https://behired.co.uk/job-board">
      <span itemprop="name">Job Board</span></a>
    <meta itemprop="position" content="2" />
  </li>
  ›
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="https://behired.co.uk/job/{{ selectedJob.key }}">
      <span itemprop="name">{{ selectedJob.name }}</span></a>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<section *ngIf="isViewReady" class="min-height" itemscope itemtype="http://schema.org/JobPosting">
  <div *ngIf="selectedJob.isActive" class="flex col-12 justify-between animted fadeIn delay-2s">
    <meta itemprop="industry" content="Leisure">
    <meta itemprop="occupationalCategory" content="Leisure">
    <meta itemprop="employmentType" content="Full-time">
    <meta itemprop="url" content="https://behired.co.uk/job/{{ selectedJob.key }}">
    <meta itemprop="hiringOrganization" content="Behired">
    <meta itemprop="salaryCurrency" content="GBP">
    <meta *ngIf="!selectedJob.logo" itemprop="image" content="https://behired.co.uk/assets/logos/social.png">

    <meta property="og:url" content="https://behired.co.uk/job/{{ selectedJob.key }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ selectedJob.name }}">
    <meta property="og:description" content="{{ selectedJob.description }}">
    <meta property="og:image" content="{{ selectedJob.logo }}">

    <meta name="twitter:card" content="Behired Job">
    <meta name="twitter:site" content="@TweetBeHired">
    <meta name="twitter:title" content="{{ selectedJob.name }}">
    <meta name="twitter:description" content="View the job at: https://behired.co.uk/job/{{ selectedJob.key }}">
    <meta name="twitter:image" content="{{ selectedJob.logo }}">

    <section class="left-column col-9 mb4">
      <div class="nav-wrapper">
        <a class="back-link secondary mb1" title="Back" [routerLink]="['/job-board']"><i class="fas fa-chevron-left mr1"></i> Back</a>

        <div class="share-buttons">
          <a target="_blank" title="Share on Facebook" href="http://www.facebook.com/sharer.php?u=https://behired.co.uk/job/{{ selectedJob.key }}">
            <img alt="Facebook" src="https://simplesharebuttons.com/images/somacro/facebook.png">
          </a>
          <a target="_blank" title="Share on Twitter" href="https://twitter.com/share?url=https://behired.co.uk/job/{{ selectedJob.key }}">
            <img alt="Twitter" src="https://simplesharebuttons.com/images/somacro/twitter.png">
          </a>
          <a title="Share with Email" href="mailto:?Subject={{ selectedJob.name }} https://behired.co.uk/job/{{ selectedJob.key }}">
            <img alt="Email" src="https://simplesharebuttons.com/images/somacro/email.png">
          </a>
        </div>
      </div>

      <img itemprop="image" *ngIf="selectedJob.logo" class="logo animated fadeIn delay-2s" width="120px" [src]="selectedJob.logo" alt="Logo" default="">

      <h2 class="title mr2" itemprop="title">
        {{ selectedJob.name }}
        <save-job *ngIf="isLoggedIn" [job]="selectedJob"></save-job>
      </h2>

      <a class="link hide" itemprop="url" href="https://behired.co.uk/job/{{ selectedJob.key }}">https://behired.co.uk/job/{{ selectedJob.key }}</a>

      <ul class="info-bar">
        <li class="first" *ngIf="selectedJob.datePosted !== null"><strong>Date Created</strong><span itemprop="datePosted">{{ selectedJob?.datePosted.toDate() | date: 'dd-MM-yyyy'  }}</span></li>
        <li><strong>Job Id</strong><span>{{ selectedJob.key }}</span></li>
        <li>
          <strong>Company</strong>
          <span>{{ selectedJob.employerName }}</span>
        </li>
        <li class="last"><strong>Sector</strong><span>{{ selectedJob.sector }}</span></li>
      </ul>

      <ul class="col-11 flex flex-column">
       <li itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place">
          <strong>Address:</strong>

          <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ selectedJob.address.addressLine1 }}</span>
            <meta itemprop="addressRegion" content="UK">
            <meta itemprop="addressLocality" content="UK">
            <meta itemprop="addressCountry" content="England">
          </span>
        </li>
        <li>
          <strong>Role Type:</strong>
          <span>{{ selectedJob.employmentType }}</span>
        </li>
        <li>
          <strong>Pay:</strong>
          <span>{{ selectedJob.payType }} {{ selectedJob.pay | currency: '£' }}</span>
        </li>
        <li *ngIf="selectedJob.aboutCompany">
          <strong>About Company:</strong>
          <span>{{ selectedJob.aboutCompany }}</span>
        </li>
        <li *ngIf="selectedJob.website"><strong>Company Website:</strong><a href="http://{{ selectedJob.website }}" class="link" target="_blank">{{ selectedJob.website }}</a></li>
        <li itemprop="description">
          <strong>Description:</strong>
          <span class="description-content" [innerHtml]="selectedJob.description"></span>
        </li>
      </ul>

      <div class="btn-wrapper" *ngIf="selectedJob.isActive">
        <a class="btn btn-primary" title="Apply" (click)="applyConfirmIsVisible = true">Apply</a>
        <a class="btn btn-secondary ml2" title="Need Help?" [routerLink]="['/contact']">Need Help?</a>
      </div>

      <section class="mt4">
        <h3 class="secondary">Other jobs you may like...</h3>

        <ul class="flex flex-column mt3">
          <li class="col-11 mb3" *ngFor="let job of listOfJobs">
            <job-behired-card *ngIf="job.isActive !== false"
            [job]="job" [isMapEnabled]="false" [tabsEnabled]="false"></job-behired-card>
          </li>
        </ul>
      </section>

    </section>
    <section class="right-column col-3 ml2">
      <div class="mb3">
        <h2 class="mb2">Tips</h2>
        <p>To apply for this job simply click the apply button. </p>
        <p>The map below outlines the location of this job.</p>
        <p>You can only apply for this job if you've signed up and you didn't create the job.</p>
      </div>

      <map-view
        *ngIf="selectedJob.address && selectedJob.address.latitude"
        [job]="selectedJob"
        [height]="'large'"
        [scrollwheel]="true"
      ></map-view>
    </section>
  </div>
</section>

<confirm-notification
  *ngIf="applyConfirmIsVisible"
  (confirm)="applyVerify(selectedJob)"
  (cancel)="applyConfirmIsVisible = false"
  [message]="applyConfirmMessage"></confirm-notification>
