@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  .logo {
    border-radius: 3px;
    margin: 0 0 25px 0;
    max-width: 100px;
  }

  .hideLogo {
    display: none;
  }

  h2 {
    @extend .flex, .col-12, .justify-between, .mb3;

    @media screen and (max-width: $break-md) {
      flex-direction: column;
    }
  }

  .description-content {
    font-size: 14px;
  }

  .link {
    text-decoration: underline;
  }

  ul li {
    @extend .flex, .flex-column;

    strong {
      @extend .mt1;
      font-weight: bold;
      font-size: 16px;
    }
  }

  i.fa-suitcase {
    margin-left: -10px;
    font-size: 38px;
  }

  .left-column {
    @media screen and (max-width: $break-md) {
      width: 100%;
    }
  }

  .right-column {
    @media screen and (max-width: $break-md) {
      display: none;
    }
  }

  .back-link {
    @extend .col-12;
    margin-bottom: 25px;
    display: block;
  }

  h2 {
    @extend .mb1;
  }

  .nav-wrapper {
    @extend .flex, .justify-between;

    @media screen and (max-width: $break-md) {
      flex-direction: column;
    }

    .share-buttons {
      width: 160px;

      @media screen and (max-width: $break-md) {
        padding: 0;
        margin-bottom: 20px;
      }

      a {
        @extend .mr1;
      }
      img {
        width: 34px;
      }
    }
  }

  .info-bar {
    @extend .col-12, .flex, .justify-between, .mt1, .mb2, .pt2, .pb2;
    border-radius: 3px;
    background-color: $grey-color-1;

    @media screen and (max-width: $break-md) {
      flex-direction: column;
      flex-wrap: wrap;
    }

    li {
      @media screen and (max-width: $break-md) {
        padding-left: 1em;
      }

      &.first {
        @extend .pl2;
      }
      &.last {
        @extend .pr2;
      }
    }
  }

  .btn-wrapper {
    @extend .flex, .justify-start, .mt4;

    @media screen and (max-width: $break-md) {
      justify-content: space-between;
      flex-direction: column;
    }

    .btn {
      padding: 12px 75px;

      @media screen and (max-width: $break-md) {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px 0 0 0;
      }
    }
  }
}
