@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  .wrapper {
    @extend .flex, .justify-center, .p2;
    align-items: center;
  }

  .content {
    @extend .md-col, .md-col-6, .lg-col-4;
    margin-top: 120px;
    margin-bottom: 80px;

    @media screen and (max-width: $break-md) {
      margin-top: 80px;
      width: 80%;
    }
  }
}
