<div *ngIf="isViewReady" class="mask" (click)="isVisible = true"></div>

<section *ngIf="isViewReady && isApplicant" class="welcome-wrapper animated bounce delay-4s" (click)="isVisible = true">
  <div class="welcome-content">
    <div>
      <h3 class="white mb3">
        Welcome to <strong>Behired!</strong>
      </h3>
      <p class="white">We look forward to helping you on your next career path!</p>
      <p class="white">
        Please enter your full name & address on your profile to unlock the Behired features in the left menu.<br>
        This will allow you to view & apply for jobs.
      </p>
      <div class="btn-wrapper">
        <a class="btn btn-secondary mt2" (click)="isVisible = true">Lets get started!</a>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isViewReady && !isApplicant" class="welcome-wrapper animated bounce delay-4s" (click)="isVisible = true">
  <div class="welcome-content">
    <div>
      <h3 class="white mb3">
        Welcome to <strong>Behired!</strong>
      </h3>
      <p class="white">We look forward to helping you with your recruitment!</p>
      <p class="white">
        Please enter your contact name & address on your profile to unlock the Behired features in the left menu.<br>
        This will allow you to post jobs.
      </p>
      <div class="btn-wrapper">
        <a class="btn btn-secondary mt2" (click)="isVisible = true">Lets get started!</a>
      </div>
    </div>
  </div>
</section>
