<section class="confirm-wrapper animated bounce delay-4s">
  <div class="confirm-content">
    <div>
      <h3 class="mb3">Sign In</h3>
      <p>
        To write a review or add ratings just click sign in or sign in anonymously.
      </p>

      <div class="btn-wrapper">
        <a class="btn btn-secondary mb2 col-5" [routerLink]="['/signin']" title="Sign in" prevent-double-submit>Sign in</a>
        <a class="btn btn-primary col-5" (click)="signInAnonymously()" title="Sign in Anonymously" prevent-double-submit>Sign in Anonymously</a>
      </div>
    </div>
  </div>
</section>

