@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  .text-wrapper {
    @extend .flex, .flex-column, .col-12, .m0;

    .text {
      font-size: 14px;
    }

    .date {
      text-align: right;
      color: $grey-color-2;
      font-size: 12px;
    }
  }

  .comment-wrapper {
    @extend .mt3, .mb3;
  }

  ul {
    @extend .flex, .flex-column, .col-12;
    margin: 25px 0 0 0;

    li {
      @extend .flex, .justify-start, .p2;
      padding-bottom: 25px;
      box-shadow: 1px 2px 4px $grey-color-3;
      padding-bottom: 10px;
      min-height: 100px;

      p {
        @extend .m0;
        font-size: 14px;
      }
    }
  }

  .comment {
    @extend .flex, .col-12;

    form {
      @extend .flex, .col-12, .justify-start;

      @media only screen and (max-width: $break-md) {
        flex-direction: column;
      }
    }

    textarea {
      @extend .col-12;
      font-size: 14px;
      max-height: 75px;
      border-radius: 3px;
    }

    button {
      @extend .ml1;
      font-size: 14px;
      width: 100px;

      @media only screen and (max-width: $break-md) {
        padding-left: 0;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
      }
    }
  }

  .no-data {
    @extend .flex, .justify-center;
    text-align: center;
    padding: 50px;
    min-height: 50px;
    align-items: center;

    p {
      @extend .m0;
    }
  }
}
