<ol *ngIf="isViewReady" class="hide" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="https://behired.co.uk">
        <span itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </li>
  ›
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="https://behired.co.uk/blog">
      <span itemprop="name">Blogs</span></a>
    <meta itemprop="position" content="2" />
  </li>
  ›
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="{{ blogUrl }}">
      <span itemprop="name">{{ blogArticle.title }}</span></a>
    <meta itemprop="position" content="3" />
  </li>
</ol>

<article *ngIf="isViewReady" class="min-height flex col-12 justify-center animated fadeIn delay-2s"
  itemscope itemtype="http://schema.org/Article">

  <meta itemprop="image" content="{{ blogArticle.thumbnail }}">
  <meta itemprop="thumbnailUrl" content="{{ blogArticle.thumbnail }}">
  <meta itemprop="sourceOrganization" content="Behired">
  <meta itemprop="headline" content="{{ blogArticle.title }}">
  <meta itemprop="datePublished" content="{{ blogArticle.pubDate }}">
  <meta itemprop="dateModified" content="{{ blogArticle.pubDate }}">
  <meta itemprop="articleBody" content="{{ blogArticle.description }}">
  <meta itemprop="url" content="{{ blogUrl }}">
  <meta itemprop="author" content="Mark Oddi">
  <meta itemprop="mainEntityOfPage" content="{{ blogUrl }}">

  <meta property="og:url" content="{{ blogUrl }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ blogArticle.title }}">
  <meta property="og:description" content="{{ blogArticle.description }}">
  <meta property="og:image" content="{{ blogArticle.thumbnail }}">

  <meta name="twitter:card" content="Behired Blog Artile">
  <meta name="twitter:site" content="@TweetBeHired">
  <meta name="twitter:title" content="{{ blogArticle.title }}">
  <meta name="twitter:description" content="View the article at: {{ blogUrl }}">
  <meta name="twitter:image" content="{{ blogArticle.thumbnail }}">

  <section class="left-column blog-content">
    <a class="no-underline secondary mb1" title="Back" [routerLink]="['/blog']"><i class="fas fa-chevron-left mr1"></i> Back</a>

    <div itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher">
      <meta itemprop="url" content="https://behired.co.uk">
      <meta itemprop="name" content="Behired">

      <div itemtype="https://schema.org/ImageObject" itemscope="itemscope" itemprop="logo">
        <meta itemprop="url" content="https://behired.co.uk/assets/logos/logo.png">
        <meta itemprop="width" content="504">
        <meta itemprop="height" content="148">
      </div>
    </div>

    <h1 class="flex col-12 justify-between mb2 pb2 border-bottom">
      {{ blogArticle.title }}
    </h1>

    <p class="secondary mb3"><i>{{ blogArticle.pubDate | slice:2:10 }}</i></p>

    <div itemprop="description" [innerHTML]="blogArticle.description"></div>

    <div class="share-buttons mb0">
      <a itemprop="sameAs" target="_blank" title="Share on Facebook" href="http://www.facebook.com/sharer.php?u={{ blogUrl }}">
        <img alt="Facebook" src="https://simplesharebuttons.com/images/somacro/facebook.png">
      </a>
      <a itemprop="sameAs" target="_blank" title="Share on Twitter" href="https://twitter.com/share?url={{ blogUrl }}">
        <img alt="Twitter" src="https://simplesharebuttons.com/images/somacro/twitter.png">
      </a>
      <a itemprop="sameAs" title="Share with Email" href="mailto:?Subject={{ blogArticle.title }} {{ blogUrl }}">
        <img alt="Email" src="https://simplesharebuttons.com/images/somacro/email.png">
      </a>
    </div>

    <section class="comment-wrapper">
      <div class="comment">
        <form [formGroup]="form">
          <textarea type="text" placeholder="What are your thoughts?" formControlName="comment" class="field field-area"></textarea>
          <button type="submit" class="btn btn-primary" (click)="addComment()" prevent-double-submit>Comment</button>
        </form>
      </div>

      <ul *ngIf="blogComments.length > 0">
        <li *ngFor="let item of blogComments">
          <div class="text-wrapper">
            <p class="date">{{ item.dateDisplay }}</p>
            <p class="text">{{ item.comment }}</p>
          </div>
        </li>
      </ul>

      <div *ngIf="blogComments.length === 0" class="no-data">
        <p>No comments...</p>
      </div>

    </section>
  </section>
</article>

<section class="min-height flex col-12 justify-center animated fadeIn delay-2s" *ngIf="isViewReady">
  <section class="sm-col-12 lg-col-7 mb4">
    <h3>Popular Jobs</h3>

    <ul class="flex flex-column mt3">
      <li class="mb3"  *ngFor="let job of listOfJobs">
        <job-behired-card *ngIf="job.isActive !== false"
        [job]="job" [isMapEnabled]="false" [tabsEnabled]="false"></job-behired-card>
      </li>
    </ul>
  </section>
</section>

<social-login (confirm)="isLoginModalVisible = false" *ngIf="isLoginModalVisible"></social-login>
