<section
  *ngIf="isVisible && isLoggedIn"
  (click)="isVisible = false"
  class="notification notification--top fixed col-3 animated slideInDown delay-2s">
  <div class="notification__banner">
    <h3 class="white mb1">Notification <i (click)="isVisible = false" class="fas fa-times mt2 mr2"></i></h3>
    <p class="m0">{{ message }}</p>
    <a class="white" (click)="resendEmailVerification()" title="Resend email">Resend email</a>
  </div>
</section>
