<h1 class="center mb3">Sign Up</h1>
<p class="error mt2" *ngIf="error">{{ error }}</p>

<form class="col-12" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="option-wrapper">
    <a [ngClass]="{ 'selected': type === 'applicant' }"
     (click)="typeToggle('applicant')"
     title="I'm a Job Seeker">I'm a Job Seeker</a>

    <a [ngClass]="{ 'selected': type === 'employer' }"
     (click)="typeToggle('employer')"
     title="I'm an Recruiter">I'm a Recruiter</a>
  </div>

  <input type="email" formControlName="email" placeholder="Email*" class="col-12 mb1 field">

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="email" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Email is required</div>
    <div class="animated shake" ngxError="pattern" when="dirty">Must be of type email</div>
  </div>

  <div>
    <input [type]="passwordType" formControlName="password" placeholder="Password*" class="col-12 mb1 field">

    <a class="eye-toggle" (click)="togglePasswordEye()">
      <i class="fa fa-eye-slash" *ngIf="passwordType === 'text'"></i>
      <i class="fa fa-eye" *ngIf="passwordType === 'password'"></i>
    </a>
  </div>

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="password" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Password is required</div>
    <div class="animated shake" [ngxError]="['minlength', 'maxlength']" when="dirty">Min length is 8 and max length is 15</div>
    <div class="animated shake" ngxError="pattern" when="dirty">
      Must contain at least 1 lowercase character & 1 number
    </div>
  </div>

  <input [type]="passwordType" formControlName="confirmPassword" placeholder="Confirm Password*" class="col-12 mb2 field">

  <div *ngIf="isErrorsVisible" class="errors mb2" ngxErrors="confirmPassword" #myError="ngxErrors">
    <div class="animated shake" ngxError="required" when="dirty">Password is required</div>
    <div class="animated shake" [ngxError]="['minlength', 'maxlength']" when="dirty">Min length is 8 and max length is 15</div>
    <div class="animated shake" ngxError="pattern" when="dirty">
      Must contain at least 1 lowercase character & 1 number
    </div>
  </div>

  <button type="submit" class="btn btn-primary col-12 animated pulse" prevent-double-submit>Get Started</button>
</form>

<p class="mt1">By signing up you agree to our <a [routerLink]="['/terms']" title="terms and conditions">terms and conditions</a></p>

<div class="flex justify-center mt3">
  <p class="mt1">Already registered? <a [routerLink]="['/signin']" title="sign in">Sign in</a></p>
</div>
