<header *ngIf="isViewReady" class="menu-wrapper animated slideInDown">
  <nav>
    <ul class="email-wrapper">
      <li>
        <a title="Email" [routerLink]="isApplicant ? '/applicant/profile' : '/employer/profile'"><i class="fas fa-user mr2"></i>{{ email }}</a>
      </li>
    </ul>

    <ul class="credit-wrapper">
      <li *ngIf="!isApplicant && !isFreeTier">
        <a class="secondary" title="Job Credits"><i class="fas fa-coins mr2"></i>Job Credit: {{ creditTotal }}</a>
      </li>
      <li *ngIf="isFreeTier">
        <p class="secondary"><i class="fas fa-coins mr2"></i> Free Plan</p>
      </li>
      <li *ngIf="!isFreeTier && !isApplicant" class="ml3">
        <a class="secondary" title="Featured Credits"><i class="fas fa-star mr2"></i>Featured Credit: {{ featuredTotal }}</a>
      </li>
      <li class="ml3" *ngIf="!isApplicant && !isFreeTier && !locked">
        <a title="Buy Credit" [routerLink]="['/payment']" [queryParams]="{ id:'step1' }"><i class="fas fa-shopping-cart mr2"></i>Buy Credit</a>
      </li>
      <li class="ml3">
        <a title="Settings" [routerLink]="['/settings']"><i class="fas fa-cogs mr2"></i>Settings</a>
      </li>
    </ul>

    <ul class="mobile-wrapper">
      <li>
        <a title="Email" [routerLink]="isApplicant ? '/applicant/profile' : '/employer/profile'"><i class="fas fa-user mr2"></i>{{ email }}</a>
      </li>
      <li *ngIf="!isApplicant && !isFreeTier && !locked">
        <a title="Credits" [routerLink]="['/payment']" [queryParams]="{ id: 'step1' }"><i class="fas fa-coins mr2"></i> {{ creditTotal }}</a>
      </li>
      <li *ngIf="!isApplicant && !isFreeTier && locked">
        <p title="Credits"><i class="fas fa-coins mr2"></i> {{ creditTotal }}</p>
      </li>
      <li *ngIf="isFreeTier">
        <p><i class="fas fa-coins mr2"></i> Free Plan</p>
      </li>
    </ul>
  </nav>
</header>
