@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  .menu-wrapper {
    @extend .flex, .mb3;

    nav {
      @extend .col-12, .flex, .justify-between;
    }
  }

  .fa-user {
    color: $secondary-color;
    font-size: 16px;
  }

  .credit-wrapper,
  .email-wrapper {
    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }

  .mobile-wrapper {
    @extend .justify-between;
    display: none;
    width: 100%;

    @media screen and (max-width: $break-sm) {
      display: flex;
    }
  }
}
