// Blog list of items
.listOfBlogs {
  @extend .col-12, .flex, .flex-wrap;

  .article {
    @extend  .flex, .flex-column;
    margin-right: 2%;
    margin-bottom: 2%;
    -webkit-box-shadow: 2px 0 11px 0 $grey-color-3;
    -moz-box-shadow: 2px 0 11px 0 $grey-color-3;
    box-shadow: 2px 0 11px 0 $grey-color-3;
    padding: 1%;
    width: 30%;
    cursor: pointer;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @media screen and (max-width: $break-md) {
      margin: 0 0 30px 0;
      width: 100%;
    }
  }
}

// Blog item
.blog-content {
  @extend .flex, .flex-column, .justify-between, .col-7;

  &.full-width {
    width: 100%;
  }

  @media screen and (max-width: $break-md) {
    width: 100%;
  }

  &.no-images {
    .description {
      figure, h3 {
        display: none;
      }
    }
    a {
      text-decoration: none;
    }
  }

  .title {
    @extend .mb2;
    font-size: 17px;
    font-weight: 500;
  }

  h1 {
    font-weight: 300;
    font-family: inherit;

    @media screen and (max-width: $break-md) {
      font-size: 24px;
    }
  }

  h2, h3, h4 {
    @extend .mt2, .mb2;
    color: $secondary-color;
    font-size: 20px;

    @media screen and (max-width: $break-md) {
      padding: 0 10px;
      font-size: 18px;
    }
  }

  p {
    font-size: 16px;

    @media screen and (max-width: $break-md) {
      padding: 0 10px;
    }

    &.date {
      @extend .m0, .mb1;
      color: $secondary-color;
      font-size: 12px;
      font-weight: 600;
      font-style: italic;
      text-align: right;
      padding: 10px;
    }
    &.description {
      font-size: 14px;
    }

    a {
      color: $primary-color;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  .read-more {
    color: $secondary-color;
    font-weight: 700;
    text-align: right;
    text-decoration: none;
    font-size: 14px;

    @media screen and (max-width: $break-md) {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    i {
      font-size: 12px;
    }
  }

  .description {
    height: 130px;

    h4, br, p strong {
      display: none;
    }
  }

  .img-wrapper {
    @extend .mb2;
    height: 180px;
    overflow: hidden;

    @media screen and (max-width: $break-md) {
      margin-bottom: 0;
    }

    img {
      border-radius: 3px;
      -webkit-transition: all .3s;
      transition: all .3s;
      width: 100%;
      margin-top: -14%;
      -webkit-transform: scale(1.4);
      transform: scale(1.4);

      @media screen and (max-width: $break-md) {
        transform: scale(2.2);
        -webkit-transform: scale(2.2);
        -moz-transform: scale(2.2);
        -ms-transform: scale(2.2);
        -o-transform: scale(2.2);
      }

      &.no-margin {
        margin-top: 0;
      }

      &:hover {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: .7;
      }
    }
  }

  figure {
    float: right;
    margin: 10px;

    img {
      @extend .m0, .p0;
      border-radius: 3px;
      width: 350px;

      @media screen and (max-width: $break-md) {
        width: 140px;
      }
    }
  }

  ul {
    @extend .flex, .flex-column, .mt2;
    margin-left: 18px;

    li {
      @extend .flex, .flex-column, .mb2;
      display: list-item;
      color: $primary-color;
      list-style: disc;

      a {
        text-decoration: underline;
      }

      strong {
        font-weight: 300;
      }
    }
  }

  a {
    color: $primary-color;
    font-size: 16px;

    &.no-underline {
      text-decoration: none;
    }
  }

  .share-buttons {
    @extend .mb4;

    a {
      @extend .mr1;
    }
    img {
      width: 34px;
    }
  }
}
