button,
.btn {
  @extend .p0, .m0;
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 4px;
  font-weight: 300;
  height: auto;
  padding: 15px 20px 15px 20px;
  text-align: center;
  outline: none;

  &__invert {
    color: $primary-color;
    background-color: $grey-color-1;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }

  &.btn-primary {
    color: $white-color;
    background-color: $primary-color;

    &:hover {
      color: $primary-color;
      background-color: $grey-color-1;
    }
  }
  &.btn-secondary {
    color: $white-color;
    background-color: $secondary-color;

    &:hover {
      color: $secondary-color;
      background-color: $grey-color-1;
    }
  }
  &.btn-quaternary {
    color: $white-color;
    background-color: $quaternary-color;

    &[disabled] {
      opacity: .7;
    }
    &:hover, &[disabled] {
      color: $quaternary-color;
      background-color: $grey-color-1;
    }
  }
}

.option-wrapper {
  @extend .flex, .col-12, .justify-around, .mt2, .pt3, .pb3;

  a {
    @extend .col-4, .pb1;
    text-align: center;

    &:hover,
    &.selected {
      border-bottom: 2px solid $secondary-color;
    }
  }
}
