  .checkbox-wrapper {
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    padding-top: 8px;
    color: $primary-color;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    background-color: $primary-color;
  }

  .checkbox-wrapper input:checked ~ .checkmark {
    background-color: $primary-color;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox-wrapper .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $white-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
