.dropzone {
  @extend .col-12;
  background-color: $grey-color-1;
  min-height: 208px;

  &:hover {
    border: 2px dashed $primary-color;
  }
  &.hovering {
    border: 2px dashed $primary-color;
  }
}

.file-wrapper {
  @extend .flex, .flex-column, .justify-center;
  min-height: 208px;
  align-items: center;
  width: 100%;

  .hidden {
    visibility: hidden;
  }

  label {
    color: $primary-color;
    font-weight: 300;
    font-size: 15px;
    height: 116px;
    width: 100%;
    text-align: center;
    padding-top: 82px;
    cursor: pointer;
  }
}
