.footer-wrapper {
  @extend .col-12;

  nav {
    @extend .flex, .pl4, .pr4;
    background-color: $primary-color;

    @media screen and (max-width: $break-md) {
      padding: 25px 10px 10px 10px;
      flex-direction: column;
    }

    &.links-wrapper {
      padding-top: 80px;
      padding-bottom: 15px;

      @media screen and (max-width: $break-md) {
        padding-top: 38px;
        padding-bottom: 0;
        text-align: center;
      }
    }

    &.social-wrapper {
      padding-bottom: 40px;

      @media screen and (max-width: $break-md) {
        padding-top: 60px;
        padding-bottom: 0;
      }

      .no-right-margin {
        margin-right: 0;
      }
    }

    p,
    a {
      color: $white-color;
      font-size: 14px;
      font-weight: 500;

      strong {
        font-size: 16px;
      }
    }

    ul {
      @media screen and (max-width: $break-md) {
        padding-bottom: 25px;
        width: 100%;
      }

      &.margin-right {
        @extend .mr3;

        @media screen and (max-width: $break-md) {
          margin-right: 0;
        }
      }

      li {
        @extend .mr3;

        @media screen and (max-width: $break-md) {
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }

  i.fab {
    font-size: 20px;
  }
}

.oval {
  @extend .flex, .justify-center;
  margin-bottom: -1px;
  width: 100%;
}
