.header-wrapper {
  @extend .p2;
  padding-top: 30px;

  nav {
    @extend .flex, .justify-between;

    .main-btn {
      @extend .ml3, .mr1;
      font-size: 14px;
      margin-top: -10px;
    }
  }

  .logo-wrapper {
    display: block;
    height: 30px;
    left: 5px;
    margin-top: -8px;
    width: 140px;

    &.poolcover {
      width: 116px;
    }
  }

  .recruiter {
    color: $secondary-color;
    font-family: unset;
    font-style: italic;
    font-size: 14px;
    left: 93px;
    position: absolute;
    margin-top: 30px;
  }

  .burger {
    display: none;

    @media screen and (max-width: $break-md) {
      display: flex;
      position: fixed;
      margin-top: -15px;
      right: 15px;
      z-index: 999;
      background-color: $white-color;
      border-radius: 100px;
      width: 50px;
      text-align: center;
      height: 50px;
      align-items: center;
      justify-content: center;
      padding: 2px;
    }

    .fa-bars,
    .fa-times {
      font-size: 30px;
      color: $primary-color;
    }
  }

  .desktop-menu {
    @media screen and (max-width: $break-md) {
      display: none;
    }

    &.nav-white {
      .link {
        color: $white-color;
      }
    }
  }

  .mobile-menu {
    @extend .fixed, .justify-center;
    background-color: $secondary-color;
    display: none;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 995;
    padding: 0;
    height: 100%;

    li {
      @extend .mb3, .mr0;

      a {
        color: $white-color;
        display: list-item;
        font-size: 18px;
        font-weight: 600;
      }
    }

    @media screen and (max-width: $break-md) {
      display: flex;
    }
  }
}
