.map-wrapper {
  @extend .col-12, .flex, .justify-between;

  &.small agm-map {
    height: 145px;
  }
  &.large agm-map {
    height: 450px;
  }

  agm-map {
    @extend .col-12;
    height: 250px;
  }

  &__content {
    @extend .flex, .flex-column, .col-3, .p2;

    h4, p {
      @extend .p0, .m0;
    }
  }
}
