.notification {
  z-index: 999;

  @media screen and (max-width: $break-sm) {
    width: 100%;
  }

  &--top {
    top: 0;
    right: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &__banner {
    @extend .m2, .p2;
    background-color: $secondary-color;
    border-radius: 5px;
    cursor: pointer;

    &--cookie {
      background-color: $secondary-color;
      border-radius: 0;
      margin: 0;
      padding: 10px;

      @media screen and (max-width: $break-sm) {
        background-color: $grey-color-3;
      }

      .text-content {
        p, a {
          @media screen and (max-width: $break-sm) {
            color: $primary-color;
          }
        }
      }
    }

    &--network {
      background-color: $primary-color;
      border-radius: 0;
      margin: 0;
      cursor: pointer;
      padding: 10px;
    }

    &--success {
      background-color: $primary-color;
    }

    &--error {
      background-color: $quaternary-color;
    }

    p {
      color: $white-color;
    }
  }

  .fa-times {
    @extend .absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: $white-color;
  }

  .btn-link {
    color: $white-color;
    text-decoration: underline;
  }

  .text-content {
    @extend .flex, .flex-column, .justify-center;
    text-align: center;
  }
}
