body {
  @extend .p0, .m0;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;

  &.no-underline {
    text-decoration: underline;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

p {
  a {
    font-weight: 500;
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

.max-height-width {
  height: 100vh;
  width: 100%;
}

.min-height {
  min-height: 500px;
}

ul {
  @extend .flex, .list-reset, .p0, .m0;

  &.stack {
    @extend .flex-column;

    &.bullet {
      list-style-type: disc;
      margin-left: 20px;

      li {
        display: list-item;
      }
    }
  }

  li {
    @extend .flex;
  }
}

ol {
  @extend .flex;

  &.stack {
    @extend .flex-column, .mb0;
    padding-left: 10px;
    margin-left: 10px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
