ul.grid {
  @extend .flex, .flex-wrap;

  li {
    @extend .flex, .flex-column, .justify-between, .mr0;
    background-color: $grey-color-1;
    height: 330px;
    margin-bottom: 2%;
    width: 49%;

    @media screen and (max-width: $break-md) {
      margin-right: 0;
      margin-bottom: 25px;
      height: auto;
      width: 100%;
    }

    &.featured {
      border-top: 3px solid $secondary-color;
    }

    &.new {
      border-top: 3px solid $primary-color;
    }

    &.isExpand {
      height: auto;
    }

    &.small {
      height: 306px;
      margin-right: 2%;
      width: 32%;

      @media screen and (max-width: $break-md) {
        height: auto;
        min-height: 306px;
        width: 100%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:nth-child(odd) {
      margin-right: 2%;


      @media screen and (max-width: $break-md) {
        margin-right: 0;
      }
    }

    .text-wrapper {
      @extend .flex, .col-12;

      div {
        @extend .col-12;
      }

      h3 {
        @extend .flex, .justify-between;

        span {
          font-weight: bold;
          font-size: 16px;
        }
      }

      h3, p {
        @extend .m2;
      }

      .fa-toggle-on,
      .fa-toggle-off {
        @extend .ml2, .mt1;
        font-size: 25px;
        color: $secondary-color;
      }

      .fa-toggle-off {
        color: $primary-color;
      }
    }

    .btn-wrapper {
      @extend .flex, .col-12, .justify-between, .mb1;

      .btn {
        @extend .m2, .mt2;
        height: 20px;
        width: 100px;
      }
    }
  }
}

.no-data-wrapper {
  @extend .flex, .flex-column, .justify-center, .col-12;
  align-items: center;
  height: 100%;

  .no-data-content {
    @extend .flex, .flex-column, .justify-center;
    text-align: center;
    margin-top: -150px;
    background-color: $grey-color-1;
    border-radius: 150px;
    width: 200px;
    height: 200px;

    .fa-frown-open {
      @extend .mb2;
      font-size: 50px;
    }

    p, a {
      font-size: 16px;
      text-align: center;
    }
  }
}

table {
  @extend .mb2;

  th, td {
    border: 1px solid;
  }
}
