// Text Editor

.angular-editor-toolbar {
  background: $white-color !important;
  padding: 0 !important;
  border: 0 !important;

  .angular-editor-toolbar-set {
    display: none !important;

    &:nth-child(2), &:nth-child(5) {
      display: inline-block !important;

      .angular-editor-button {
        display: none !important;

        &.active {
          background-color: $secondary-color !important;

          i.fa {
            color: $white-color !important;
          }
        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          display: inline-block !important;
        }
      }
    }
  }
}

.angular-editor-textarea {
  border-radius: 3px;
  color: $primary-color;
  font-family: 'Questrial', sans-serif;
  font-weight: 300;

  ol, ul {
    @extend .block;
  }

  ul li {
    display: list-item;
    list-style: disc;
    margin-left: 35px;
  }
}

.angular-editor-placeholder {
  color: $primary-color !important;
  font-family: 'Questrial', sans-serif !important;
  font-weight: 300 !important;
  opacity: 1 !important;
  font-size: 16px !important;
}

.description-content {
  font-size: 16px;
  color: $primary-color;
  font-family: 'Questrial', sans-serif;

  ol, ul {
    display: inline-block;

    li {
      display: list-item;
    }

    li, span {
      font-size: 16px;
      color: $primary-color;
      font-family: 'Questrial', sans-serif;
    }
  }

  ul {
    margin-left: 42px;
    list-style: disc;
  }

  p {
    @extend .mb0;
  }
}
