h1, h2, h3, h4, h5, table {
  @extend .p0, .m0;
  color: $primary-color;
  font-family: 'Questrial', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 40px;

  @media only screen and (max-device-width: $break-sm) {
    font-size: 30px;
  }

  &.secondary {
    color: $secondary-color;
  }
  &.white {
    color: $white-color;
  }
}

h2 {
  font-size: 26px;

  @media only screen and (max-device-width: $break-sm) {
    font-size: 20px;
  }

  &.secondary {
    color: $secondary-color;
  }
  &.white {
    color: $white-color;
  }
}

h3 {
  font-size: 20px;

  @media only screen and (max-device-width: $break-sm) {
    font-size: 18px;
  }

  &.secondary {
    color: $secondary-color;
  }
  &.white {
    color: $white-color;
  }
}

h4 {
  font-size: 18px;

  &.secondary {
    color: $secondary-color;
  }
  &.white {
    color: $white-color;
  }
}

p,
a,
span {
  color: $primary-color;
  font-family: 'Questrial', sans-serif;
  font-weight: 300;
  font-size: 14px;

  &.white {
    color: $white-color;
  }
  &.quaternary {
    color: $quaternary-color;
  }
  &.secondary {
    color: $secondary-color;
  }
}

strong {
  &.secondary {
    color: $secondary-color;
  }
}

ul li {
  font-family: 'Questrial', sans-serif;
}
