// Color Palette:
$primary-color: #2c3e50;
$secondary-color: #6cb6a0;
$tertiary-color: #eff8f3;
$quaternary-color: #fe4b73;
$quinary-color: #c43155;

// Greyscales:
$grey-color-1: #f7f8f9;
$grey-color-2: #97a3b4;
$grey-color-3: #f3f3f3;
$grey-color-4: #f1f1f1;
$grey-color-5: #f9f9f9;

// Common Colors:
$white-color: #fff;
$black-color: #000;
$error-color: #ff4136;
$success-color: #2ca3af;

// Backgrounds:
$hero-default: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fdefault.jpg?alt=media&token=ee40eaab-1aa0-4e41-8bc8-fa1082ec9416';
$hero-chef: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fchef.jpg?alt=media&token=77198a18-710f-4887-b93c-30329ed8d382';
$hero-bar: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fbar.jpg?alt=media&token=e8eec4ff-4115-46a3-a4d0-ada0e1865efe';
$hero-hospitality: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fhospitality.jpg?alt=media&token=efe9619e-a33d-4948-993d-540dc8f8d2f2';
$hero-hotels: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fhotels.jpg?alt=media&token=4b1a357d-8804-4d91-ae59-cee2b4549d4f';
$hero-poolcover: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fpoolcover.jpg?alt=media&token=c56d79af-fa08-4c2e-a606-0bc4fd4c7192';
$hero-retail: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fretail.jpg?alt=media&token=21953979-2014-4f0d-ae10-9a5045476538';
$hero-sales: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fsales.jpg?alt=media&token=72ead956-cfdb-4a2b-a48f-9a840b5c028b';
$hero-competition: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fcompetition.jpg?alt=media&token=0c55d590-d81f-46ee-87c2-6231cfb91ff3';

// Backgrounds on random
$hero-leisure1-low: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure.min.2.jpg?alt=media&token=b800f545-b23c-42cb-bce3-5e85e2b49405';
$hero-leisure1-high: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure.jpg?alt=media&token=1d7a837f-2b35-4346-b148-f81d245d59f9';
$hero-leisure1-webp: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure.min.2.webp?alt=media&token=c498555e-e9b1-4645-994d-4e2e8403dd2e';

$hero-leisure2: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure2.jpg?alt=media&token=48fad4ff-959b-48cd-83ae-ff1766407b76';
$hero-leisure3: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure3.jpg?alt=media&token=ec237747-980d-4307-a25b-ac853c333121';
$hero-leisure4: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure4.jpg?alt=media&token=afcad3ee-feeb-45ef-97d2-835a8134476f';
$hero-leisure5: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fpt2.webp?alt=media&token=e5a14429-237e-4069-a349-d56e6529aba1';
$hero-leisure6: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Frecruiter.webp?alt=media&token=7b0f6841-1ff9-405d-8312-8dc36d93e898';
$hero-leisure7: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure7.jpg?alt=media&token=fcdb600e-31ad-46ae-b101-b038ea6b08b3';
$hero-leisure8: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure8.jpg?alt=media&token=20624378-c6d4-4f3f-aeae-acbd2c7563b3';
$hero-leisure9: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure9.jpg?alt=media&token=4fff4399-0753-4814-910c-b9ff5cb77781';
$hero-leisure10: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure10.jpg?alt=media&token=44f9be0b-c9b0-4a3b-9ed6-f93935797168';
$hero-leisure11: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure11.jpg?alt=media&token=c718ea96-fde8-4472-a17a-dce6c33f4c56';
$hero-leisure12: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fleisure12.jpg?alt=media&token=052088e0-505d-48d2-b27a-b3cf5eff2d34';

// Homepage
$home-3: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2FJob_space_3.jpg?alt=media&token=fbbf3830-e278-4abb-a353-2041bdadbc36';
$home-5: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2FJob_space_5.jpg?alt=media&token=c3da2610-8d6b-44b8-bd3f-1c1f7dc409a4';
$home-6: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2FJob_space_6.jpg?alt=media&token=d5f7c9bc-b853-463e-8fd1-de8a52c0482d';
$home-9: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2FJob_space_9.jpg?alt=media&token=924770c9-25d5-450f-9c3a-1552121bf1d5';

// Adverts
$advert-swim-buddies: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fadverts%2Fswimbud.png?alt=media&token=b6ba1690-8dfb-447c-9932-687a71422023';

// Adverts
$course-1: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fcourse-min.jpg?alt=media&token=8db1ba2a-67f9-43c3-babd-f3b80a1e3636';
$volunteer-1: 'https://firebasestorage.googleapis.com/v0/b/leisure-project.appspot.com/o/assets%2Fbackgrounds%2Fvolunteering.jpg?alt=media&token=e3041aa2-a96b-4b5a-9363-b60cb7a5929d';

// Break Points
$break-sm: 480px;
$break-md: 1080px;
$break-lg: 1200px;
