<section class="confirm-wrapper animated bounce delay-4s">
  <div class="confirm-content">
    <div>
      <h3 class="mb3">Add Ratings</h3>
      <p>
        It only takes a minute! And your anonymous review will help many people.
      </p>

      <div class="ratings small">
        <p>Service</p>
        <div class="rating">
          <ng-container *ngFor="let item of stats.service">
             <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item, 'service')">☆</span>
          </ng-container>
        </div>
      </div>

      <div class="ratings small">
        <p>Communication</p>
        <div class="rating">
          <ng-container *ngFor="let item of stats.communication">
             <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item, 'communication')">☆</span>
          </ng-container>
        </div>
      </div>

      <div class="ratings small">
        <p>Quality</p>
        <div class="rating">
          <ng-container *ngFor="let item of stats.quality">
             <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item, 'quality')">☆</span>
          </ng-container>
        </div>
      </div>

      <div class="ratings small">
        <p>Cleanliness</p>
        <div class="rating">
          <ng-container *ngFor="let item of stats.cleanliness">
             <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item, 'cleanliness')">☆</span>
          </ng-container>
        </div>
      </div>

      <div class="ratings small">
        <p>Work Experience</p>
        <div class="rating">
          <ng-container *ngFor="let item of stats.workExperience">
             <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item, 'workExperience')">☆</span>
          </ng-container>
        </div>
      </div>

      <div class="ratings small">
        <p>Safety</p>
        <div class="rating">
          <ng-container *ngFor="let item of stats.safety">
             <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item, 'safety')">☆</span>
          </ng-container>
        </div>
      </div>

      <div class="ratings small">
        <p>Recommend to a Friend</p>
        <div class="rating">
          <ng-container *ngFor="let item of stats.recommendToAFriend">
             <span [ngClass]="{ 'selected': item.selected }" (click)="setScore(item, 'recommendToAFriend')">☆</span>
          </ng-container>
        </div>
      </div>

      <div class="btn-wrapper mt4">
        <a class="btn btn-secondary pl4 pr4 mr2" (click)="confirmAction()" title="Yes" prevent-double-submit>Add Ratings</a>
        <a class="btn btn-primary pl3 pr3" (click)="cancelAction()" title="Cancel" prevent-double-submit>Cancel</a>
      </div>
    </div>
  </div>
</section>

