<section *ngIf="isViewReady" class="flex flex-column col-12 max-height-width animated fadeIn delay-4s">
  <ng-container *ngIf="applications; else noData">
    <section class="flex col-12 mb2" *ngIf="applications">
      <h2 class="secondary col-6">Select an applicant</h2>
      <form *ngIf="applications" class="flex justify-end col-6" [formGroup]="form">
        <select formControlName="applicant" class="col-6 field animated pulse delay-4s">
          <option [value]="null" disabled="true">Select Applicant</option>
          <option *ngFor="let applicant of applications" [value]="applicant.key">{{ applicant.name }}</option>
        </select>
      </form>
    </section>

    <section class="column-wrapper flex col-12 animated fadeIn">
      <section class="general-column col col-2">
        <div *ngIf="applicant" class="box box_medium">
          <img class="col-12 animated fadeIn" [src]="applicant.logo" alt="Profile Picture" *ngIf="applicant.logo">
          <img class="col-12" src="./assets/icons/placeholder.jpg" alt="Profile Placeholder" *ngIf="!applicant.logo">
        </div>
        <div *ngIf="applicant" class="box box__small">
          <h2>Contact</h2>

          <ul class="stack">
            <li><p>{{ applicant.email }}</p></li>
            <li><p>{{ applicant.mobileNumber }}</p></li>
          </ul>
        </div>
      </section>

      <section class="general-column col col-6">
        <div *ngIf="applicant">
          <h2>General Info</h2>

          <ul class="stack">
            <li><p><strong>Name</strong> {{ applicant.firstName }} {{ applicant.lastName }}</p></li>
            <li><p><strong>Address</strong> {{ applicant.address.addressLine1 }}</p></li>
            <li><p><strong>About Me</strong> {{ applicant.about }}</p></li>
            <li><p><strong>Cover</strong> {{ applicant.cover }}</p></li>
          </ul>
        </div>
        <div class="no-applicant" *ngIf="applicant === null">
          <h2 class="mb2">Applicant Unavailable</h2>
          <p>Unfortunately this applicant no longer exists on our database.</p>
        </div>
      </section>

      <section class="tip-column col col-3">
        <div class="box box_medium">
          <h2>Tips</h2>
          <p>
            Select an applicant from the select list on the right.
          </p>
          <p>
            Now you will see the selected applicant.
          </p>
          <p>
            Note that some applicants may have missing information, however, you can email them
            if further information is required.
          </p>
        </div>
        <div class="box box_medium" *ngIf="applicant && applicant.cv">
          <h2>CV Download</h2>
          <a [href]='applicant.cv' target="_blank" title="Download CV" [download]="applicant.cvName">{{ applicant.cvName }}</a>
          <a [href]='applicant.cv' target="_blank" title="Download CV" [download]="applicant.cvName"><strong>Download</strong></a>
        </div>
        <div class="box box_medium" *ngIf="applicant && applicant.address.latitude">
          <map-view [job]="applicant" [zoom]="10"></map-view>
        </div>
      </section>

    </section>
  </ng-container>
</section>

<ng-template #noData>
  <section class="no-data-wrapper">
    <div class="no-data-content">
      <i class="far fa-frown-open"></i>
      <p>No applications</p>
    </div>
  </section>
</ng-template>
