@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  h2 {
    @extend .mb2;

    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }

  img {
    @media screen and (max-width: $break-sm) {
      width: 40%;
    }
  }

  form,
  form .field {
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  .col {
    @extend .ml3, .mb4;
    height: 80vh;

    &:first-child {
      @extend .m0;
    }
  }

  ul li p strong {
    display: inline-block;
    width: 68px;
  }

  .box {
    @extend .flex, .flex-column, .mb2, .col-12;

    &__small {
      min-height: 100px;

      @media screen and (max-width: $break-sm) {
        min-height: auto;
      }
    }
    &__medium {
      min-height: 150px;
    }
  }

  .dropzone {
    @extend .col-12, .border;
    background-color: $grey-color-1;
    min-height: 208px;

    &.logoHover {
      background-color: $primary-color;
    }
    &.cvHover {
      background-color: $secondary-color;
    }
  }

  .field {
    @extend .mb2;
  }

  .column-wrapper {
    @media screen and (max-width: $break-sm) {
      flex-direction: column;
    }
  }

  .general-column {
    @media screen and (max-width: $break-sm) {
      height: auto;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  .tip-column {
    @media screen and (max-width: $break-sm) {
      display: none;
    }
  }

  .no-applicant {
    text-align: center;
  }
}
