@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  @extend .col-12, .flex, .flex-column, .justify-between;
  height: 100%;

  .tab {
    @extend .absolute;
    margin-top: -22px;
    margin-left: 15px;
    color: $white-color;
    padding: 2px 18px;
    border-radius: 3px 3px 0 0;
    font-size: 12px;

    &.featured-job {
      background: $secondary-color;
    }
    &.new-job {
      background: $primary-color;
    }
  }

  .map {
    @extend .mr2;
    font-weight: 700;
    color: $secondary-color;
    justify-content: flex-end;
    font-size: 14px;
    margin: 35px 30px 0 0;
  }

  .hideLogo {
    display: none;
  }

  .baseSalary {
    width: 82px;

    @media only screen and (max-width: $break-md) {
      width: 97px;
    }
  }

  .date {
    width: 114px;
    text-align: right;
    font-style: italic;
  }

  .logo {
    margin: 15px 0 0 15px;
    max-width: 60px;
  }

  h3, p {
    word-break: break-word;
  }
}
