<div class="text-wrapper animated fadeIn" itemscope itemtype="http://schema.org/JobPosting">
  <meta itemprop="industry" content="Leisure">
  <meta itemprop="occupationalCategory" content="Leisure">
  <meta itemprop="employmentType" content="Full-time">
  <meta itemprop="url" content="https://behired.co.uk/job/{{ job.id }}">

  <meta property="og:url" content="https://behired.co.uk/job/{{ job.id }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ job.name }}">
  <meta property="og:description" content="{{ job.description }}">
  <meta property="og:image" content="{{ job.logo }}">

  <meta name="twitter:card" content="Behired Job">
  <meta name="twitter:site" content="@TweetBeHired">
  <meta name="twitter:title" content="{{ job.name }}">
  <meta name="twitter:description" content="View the job at: https://behired.co.uk/job/{{ job.id }}">
  <meta name="twitter:image" content="{{ job.logo }}">

  <p class="tab new-job" itemprop="hiringOrganization">{{ job.employerName }}</p>

  <div>
    <map-view *ngIf="job.isExpand" [job]="job"></map-view>

    <div class="flex justify-between mb2" (click)="goto(job)">
      <div>
        <img *ngIf="job.logo" itemprop="image" class="logo animated fadeIn delay-4s" width="60px" [src]="job.logo" default="">
      </div>
      <p class="date" *ngIf="job.datePosted" itemprop="datePosted">{{ job?.datePosted.toDate() | date: 'dd/MM/yyyy' }}</p>
    </div>

    <h3 (click)="goto(job)">
      <span itemprop="title" [innerHtml]="job.name | truncate : 65 : '...'"></span>
      <span class="baseSalary">
        {{ job.pay | currency: '£' }}

        <ng-container [ngSwitch]="job.payType">
          <span *ngSwitchCase="'Weekly'">p/w</span>
          <span *ngSwitchCase="'Monthly'">p/m</span>
          <span *ngSwitchCase="'Hourly'">p/hr</span>
        </ng-container>

        <meta itemprop="salaryCurrency" content="GBP">
      </span>
    </h3>

    <p>
      <span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place">
        <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">{{ job.address.addressLine1 }}</span>
          <meta itemprop="addressRegion" content="UK">
          <meta itemprop="addressLocality" content="UK">
          <meta itemprop="addressCountry" content="England">
        </span>
      </span>
    </p>

    <p itemprop="description" *ngIf="!job.isExpand">
      <span *ngIf="!job.isExpand && job.summary" [innerHtml]="job.summary | truncate : 150 : '...'"></span>
      <span *ngIf="!job.isExpand && job.summary"><br>Address: {{ job.address.addressLine1 }}</span>
      <span *ngIf="!job.isExpand && !job.summary" [innerHtml]="job.description | truncate : 200 : '...'"></span>
    </p>
  </div>
</div>

<div class="btn-wrapper">
  <a class="btn btn-secondary" title="Read More"  (click)="goto(job)">Read More</a>
  <a class="btn btn-primary ml2" title="View map" (click)="goto(job)">Apply</a>
</div>
