<section class="flex col-12 max-height-width" *ngIf="isViewReady">
  <ng-container *ngIf="jobs; else noData">
    <div class="col-12">
      <ul class="grid">
        <li class="small"
        *ngFor="let job of jobs">
          <div class="text-wrapper">
            <div>
              <map-view [job]="job" [zoom]="10" [height]="'small'"></map-view>
              <h3>
                 {{ job.name | truncate : 40 : '...' }}
                 <span>{{ job?.pay | currency:'£' }}</span>
              </h3>
              <p><strong>Description:</strong> {{ job?.description | truncate : 30 : '...' }}</p>
              <p>
                <strong>Address:</strong>
                {{ job.address.addressLine1 | truncate : 30 : '...'  }} {{ job.address.postCode }}
              </p>

              <p *ngIf="job.isActive"><strong class="secondary">Status:</strong> You will be contacted if successful</p>
              <p *ngIf="!job.isActive"><strong class="secondary">Status:</strong> Unfortunately, this job has now been filled</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</section>

<ng-template #noData>
  <section class="no-data-wrapper">
    <div class="no-data-content">
      <i class="far fa-frown-open"></i>
      <p>No applications</p>
    </div>
  </section>
</ng-template>
