<section class="wrapper">
  <section class="reviews">
    <a *ngFor="let review of reviews"
      class="item" [routerLink]="[ 'company', review.id ]" [title]="review.title">
      <img [src]="review.logo" [alt]="review.title">
    </a>
  </section>
</section>
