@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  @extend .flex;
  min-height: 800px;

  .wrapper {
    @extend .flex;
  }

  .reviews {
    @extend .flex, .col-12, .flex-wrap;

    .item {
      @extend .flex, .flex-column, .p2, .mr2, .mb2;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      height: 200px;
      width: 250px;
      opacity: 0.5;

      @media only screen and (max-width: $break-md) {
        opacity: 1;
        width: 100%;
      }

      img {
        width: 140px;
      }

      &:hover {
        opacity: 1;
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        cursor: pointer;
        background-color: $grey-color-3;
      }
    }
  }
}
