@import '~basscss-sass/scss/basscss';
@import '../../../scss/variables';

:host {
  .wrapper {
    @extend .flex, .justify-center, .p2;
    align-items: center;
    background: linear-gradient(to right, $primary-color, #0000 150%) top left/150%, url($course-1) top left/100% no-repeat;
    height: 100vh;
    margin-top: -86px;

    @media screen and (max-width: $break-md) {
      background: linear-gradient(to right, $primary-color, #0000 100%) top left/150%, url($course-1) 100%/400% no-repeat;
    }
  }

  .content {
    @extend .md-col, .md-col-6, .lg-col-6;
    margin-top: 120px;
    margin-bottom: 80px;

    @media screen and (max-width: $break-md) {
      margin-top: 80px;
      width: 80%;
    }
  }
}
