<section *ngIf="!isInvoiceSuccess" class="payment-options-wrapper">
  <h4 class="mb3">Payment Options</h4>

  <p>
    If you would like to purchase credit please click pay now.<br>
    This means you can create a job posting straight away.
  </p>
  <a title="Pay Now" class="btn btn-primary" (click)="makePayment()">Pay Now</a>

  <p class="bold-option">OR</p>

  <p>If you would like to post unlimited jobs and be invoiced monthly,<br> then click pay monthly.</p>
  <a title="Pay Monthly" class="btn btn-secondary" (click)="sendInvoiceEmail()">Pay Monthly</a>
</section>

<section *ngIf="isInvoiceSuccess" class="payment-options-wrapper">
  <h4 class="mb3">Thank You</h4>
  <p class="secondary" *ngIf="isInvoiceSuccess">You will be emailed shortly regarding monthly payments setup.</p>
</section>
