@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  @extend .flex, .flex-column, .justify-center;
  align-items: center;
  height: 60vh;

  .payment-options-wrapper {
    @extend .flex, .col-6, .flex-column, .justify-center;
    text-align: center;
    align-items: center;
    margin-top: 60px;

    @media screen and (max-width: $break-md) {
      width: 100%;
    }

    .bold-option {
      @extend .pt3, .pb2;
      font-size: 20px;
      font-weight: 700;
    }

    .btn {
      width:250px;

      @media screen and (max-width: $break-md) {
        width: 75%;
      }
    }
  }
}
