<header>
  <a class="burger" title="Menu" (click)="isMenuVisible = true">
    <i class="fas fa-bars animated"></i>
  </a>
</header>

<section class="content animated slideInLeft" *ngIf="isMenuVisible" (click)="isMenuVisible = false">
  <a class="close" title="Menu" (click)="isMenuVisible = false">
    <i class="fas fa-times"></i>
  </a>

  <ul *ngIf="!isApplicant">
      <li>
        <a [routerLink]="!locked ? '/employer/job' : null" title="Create a Job">
          <i *ngIf="locked" class="fas fa-lock mr1"></i>
          Create a Job
        </a>
      </li>
      <li>
        <a [routerLink]="['/employer/profile']" title="Profile">
          Profile
        </a>
      </li>
      <li>
        <a [routerLink]="!locked ? '/employer/jobs' : null" title="My Jobs">
          <i *ngIf="locked" class="fas fa-lock mr1"></i>
          My Jobs
        </a>
      </li>
      <li>
        <a (click)="logout()" title="Sign Out">
          Sign Out
        </a>
      </li>
    </ul>

    <ul *ngIf="isApplicant">
      <li>
        <a [routerLink]="['/applicant/profile']" title="Profile">
          Profile
        </a>
      </li>
      <li>
        <a [routerLink]="!locked ? '/applicant/jobs' : null" title="My Applications">
          <i *ngIf="locked" class="fas fa-lock mr1"></i>
          My Applications
        </a>
      </li>
      <li>
        <a [routerLink]="!locked ? '/job-board' : null" title="Job Board">
          <i *ngIf="locked" class="fas fa-lock mr1"></i>
          Job Board
        </a>
      </li>
      <li>
        <a (click)="logout()" title="Sign Out">
          Sign Out
        </a>
      </li>
    </ul>
</section>
