@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  header {
    @extend .absolute;
    background-color: $white-color;
    width: 100%;
    z-index: 999;
  }

  .burger, .close {
    @extend .flex;
    top: 10px;
    left: 10px;
    background-color: $white-color;
    width: 50px;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;

    .fa-bars,
    .fa-times {
      font-size: 30px;
      color: $primary-color;
    }
  }

  .content {
    @extend .fixed;
    -webkit-box-shadow: 5px 0 5px -2px $grey-color-1;
    box-shadow: 5px 0 5px -2px $grey-color-1;
    background-color: $white-color;
    height: 100%;
    width: 80%;
    z-index: 999;
  }

  ul {
    @extend .flex, .flex-column, .mt4;

    li {
      @extend .flex, .justify-center, .mb3, .mr0;

      a {
        color: $primary-color;
        display: list-item;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
