<section class="flex col-12 max-height-width animated fadeIn delay-4s" *ngIf="isViewReady">
  <ng-container *ngIf="jobs.length; else noData">
    <div class="col-12">
      <ul class="grid">
        <li class="small animated fadeIn"
            *ngFor="let job of jobs">
          <div class="text-wrapper">
            <div>
              <map-view [job]="job" [zoom]="10" [height]="'small'"></map-view>

              <p>
                <i *ngIf="job.isActive" class="fas fa-circle mr1"></i>
                <i *ngIf="!job.isActive" class="far fa-circle mr1"></i>
                {{ job.isActive ? 'Active' : 'InActive' }}
              </p>

              <h3>
                <span>{{ job.name | truncate : 40 : '...' }}</span>
                <span *ngIf="!job.pay.currency">{{ job.pay | currency:'£' }}</span>
              </h3>

              <p class="flex justify-between">
                <span *ngIf="!job.listOfApplications">Applications: 0</span>
                <span *ngIf="job.listOfApplications">
                  Applications: {{ job.listOfApplications?.length }}
                </span>

                <span>
                  Views:
                  <span *ngIf="job.stats">{{ job.stats.count }}</span>
                  <span *ngIf="!job.stats">0</span>
                </span>
              </p>

              <div class="flex justify-between mb2">
                <a class="no-underline ml2" [routerLink]="['/employer/applications/', job.id]" title="View Applications">
                  <i class="fas fa-users mr1"></i>View Applicants
                </a>

                <a *ngIf="job.isActive" class="no-underline mr2" (click)="editJob(job)" title="Edit Job">
                  <i class="far fa-edit mr1"></i>Edit Job
                </a>

                <a *ngIf="!job.isActive" class="mr2" title="Edit Locked">
                  <i class="fas fa-lock mr1"></i>Locked
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</section>

<ng-template #noData>
  <section class="no-data-wrapper">
    <div class="no-data-content">
      <i class="far fa-frown-open"></i>
      <p>No jobs created</p>
      <a class="secondary" [routerLink]="['/employer/job']" title="Create a Job">Create a Job</a>
    </div>
  </section>
</ng-template>
