<h4 class="mb3">Payment</h4>

<p><strong>Tip:</strong> Each job credit costs £99 and each featured job credit costs £25</p>

<form [formGroup]="form" autocomplete="false" (ngSubmit)="paymentConfirmIsVisible = true">
  <div class="col-12">
    <div class="field-wrapper">
      <label for="CardNumber">Card Number</label>
      <input id="CardNumber" type="text" placeholder="Card Number*" formControlName="cardNumber" class="col-5 field">

      <div class="errors mb2 mt2" ngxErrors="cardNumber" #myError="ngxErrors">
        <div ngxError="required" when="dirty">Card Number is required</div>
        <div [ngxError]="['minlength', 'maxlength']" [when]="['dirty', 'touched']">
          Card Number must be between 14 to 16 numbers long
        </div>
      </div>
    </div>

    <div class="field-wrapper" formGroupName="expiration">
      <label for="ExpirationDate">Expiration Date</label>
      <div class="expiry-wrapper">
        <input id="ExpirationDate" type="text" placeholder="MM*" formControlName="expirationMonth" class="expiry col-6 field mr2">
        <input type="text" placeholder="YY*" formControlName="expirationYear" class="expiry col-6 field">
      </div>

      <div class="col-12">
        <div class="errors mb2" ngxErrors="expiration.expirationMonth" #myError="ngxErrors">
          <div ngxError="required" when="dirty">Expiration Month is required</div>
          <div [ngxError]="['minlength', 'maxlength']" [when]="['dirty', 'touched']">
            Expiration Month must be 2 numbers long
          </div>
        </div>

        <div class="errors mb2" ngxErrors="expiration.expirationYear" #myError="ngxErrors">
          <div ngxError="required" when="dirty">Expiration Year is required</div>
          <div [ngxError]="['minlength', 'maxlength']" [when]="['dirty', 'touched']">
            Expiration Year must be 2 numbers long
          </div>
        </div>
      </div>
    </div>

    <div class="field-wrapper">
      <label for="SecurityNumber">Security Number / CVC</label>
      <input id="SecurityNumber" type="text" placeholder="Security Number*" formControlName="securityNumber" class="col-5 field">

      <div class="errors mb2 mt2" ngxErrors="securityNumber" #myError="ngxErrors">
        <div ngxError="required" when="dirty">Security Number is required</div>
        <div [ngxError]="['minlength', 'maxlength']" [when]="['dirty', 'touched']">
          Security Number must be 3 numbers long
        </div>
      </div>
    </div>

    <div class="button-wrapper col-5 flex justify-between mt3">
      <button (click)="back()" class="btn btn-secondary col-6 mr2">Back</button>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary col-6 animated pulse" prevent-double-submit>Pay</button>
    </div>

    <p *ngIf="error.message.length > 0" class="col-12 error mt2 animated shake">Error: {{ error.message }}</p>
  </div>
</form>

<img src="../../assets/icons/bank-cards.png" alt="Stripe Payment Provider">

<p class="flex mt2">
  Visit our <a class="link ml1 mr1" title="Payment Terms" [routerLink]="['/payment-terms']" target="_blank">Payment Terms</a> for more information
</p>

<confirm-notification
  *ngIf="paymentConfirmIsVisible"
  (confirm)="payment()"
  (cancel)="paymentConfirmIsVisible = false"
  [message]="confirmMessage"></confirm-notification>
