@import '~basscss-sass/scss/basscss';
@import '../../../../scss/variables';

:host {
  img {
    width: 300px;
    margin-left: -5px;
    margin-top: 25px;
  }

  .expiry-wrapper {
    @extend .col-5, .flex, .justify-between, .mb2;

    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  .link {
    text-decoration: underline;
  }

  input {
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }

    &.expiry {
      @media screen and (max-width: $break-sm) {
        width: 50%;
      }
    }
  }

  .button-wrapper {
    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  .error {
    font-size: 14px;
  }

  .field-wrapper {
    @extend .flex, .flex-column;
  }
}
