<h1 class="mb3">Payment Terms of Business</h1>

<h3 class="secondary mb1">Introduction</h3>
<p>
  This page contains Ingham Leisure Limited Payment Terms of Business. It is to be read in conjunction with the other terms and conditions appearing on the site including Ingamham Leisure Limited Terms & Conditions, Privacy Policy, Cookie Policy and Terms of Use. By your use of the site, you are agreeing to all these terms.
</p>

<h3 class="secondary mb1">Payment</h3>
<p>
  You may make payment using following methods:

  By on-line transaction through our secure Stripe System.
  All receipt's are emailed to the client on receiving payment.

  You are responsible for any fees assessed by your debit or credit card issuer, including but not limited to any overdraft, currency conversion or foreign transaction fees.

  Card details are stored on Stripe and not on the Behired Platform.
  We only store the last four digits of your card number and expiry number.
  A card can be removed from Stripe at any time, by visiting the payment page of the Behired Platform.

  More information, including Terms of Use, for the "Third Party" payment system Stripe can be found at <a target="_blank" href="https://stripe.com/gb" title="https://stripe.com/gb">https://stripe.com/gb</a>

  Off-line payments can be arranged by direct contact with <a title="mailto:payments@behired.co.uk" href="mailto:payments@behired.co.uk">payments@behired.co.uk</a>. All invoices are made payable to Ingham Leisure Limited.
</p>

<h3 class="secondary mb1">Credit</h3>
<p>
  For details of fees please contact a member of the sales team at <a title="mailto:payments@behired.co.uk" href="mailto:payments@behired.co.uk">payments@behired.co.uk</a>
  Credit is set at £99 per unit and multiple units can be purchased at once.
  If you fund a payment by debit card and your load transaction results in an overdraft or other fee from your bank, you alone are responsible for that fee.
  If you pay by credit or debit card, Stripe may obtain a pre-approval from the issuer of the card for an amount, which may be as high as the full price of your purchase. If you cancel a transaction before completion, this pre-approval may result in those funds not otherwise being immediately available to you.
</p>

<h3 class="secondary mb1">Promotion Codes</h3>
<p>
  Promotion codes may be used to increase your electronic value balance ("Balance") on the Platform. You can then use this Balance on our platform as a payment method. The following terms apply to Balances:
  The Promotion Code can only be redeemed once. Once redeemed the value of the Promotion Code cannot be restored.
  All redeemed Promotion Codes as described above will result in Balances that can be used across the platform; your Balance will be applied toward funding transactions you wish to execute, and if your Balance is insufficient to complete a transaction, we will ask you to elect an additional payment method to cover the difference.
  The Behired is not a bank, so Promotion Code balances are not deposits and they do not earn interest.
  We may change the process to convert Promotion Codes into electronic value, or the ways that you can use your resulting Balance, at any time as we deem necessary without prior notice to the full extent permitted by law.
  Promotion Codes may not be combined with other offers and discounts, nor exchanged, nor redeemed for cash. Balances are not redeemable for any sum of money or monetary value from us unless required by law.
  You may not sell your Balance or any portion thereof, nor transfer any portion thereof to anyone outside of The Behired.
</p>

<h3 class="secondary mb1">Refund</h3>
<p>
  Refund requests can be submitted via the <a title='contact' [routerLink]="['/contact']">Contact Us</a> page.
  If your refund request is accepted you will see the refund as a credit approximately 5-10 business days after the refund request is made, depending upon the bank. Once issued, a refund cannot be cancelled. Refunds are always sent back to the original charge source.<br><br>
  It’s not possible to refund a charge to a different destination (e.g., another card or bank account). If the charge card expired or was cancelled, the customer’s new card will be credited with the refund. In the rare case that the customer doesn’t have a new card, the bank usually sends the refund to the customer’s bank account.<br><br>
  If the bank doesn’t know what to do with a refund, they send the refund back to Stripe (The Behired payment platform) and we contact you via email to ask how you would like to handle the refund.
</p>

<h3 class="secondary mb1">Information</h3>
<p>
  Ingham Leisure Limited may update these Payment Terms at any time without notice as it deems necessary to the full extent permitted by law. The Payment Terms in place at the time you use the Platform will govern the transaction.
  For more information please contact <a href="mailto:payments@behired.co.uk" title="mailto:payments@behired.co.uk">payments@behired.co.uk</a>.
</p>
